<div class="d-flex flex-row gap-3 mx-auto" style="width:fit-content;">
    {% for item in site.social %}
        <a rel="me" href="{{item.link}}" >
            {% if item.icon %}
                <i class="social-icon {{item.icon}}" {% if item.color %}style="color:{{item.color}} !important;"{% endif %}></i>
            {% else %}
                <i class="social-icon d-flex flex-column"><img src="{{item.img}}" alt="" loading="lazy" decoding="async"/></i>
            {% endif %}
        </a>
    {% endfor %}
</div>