<a id="comments"></a>
{# <p><em>Commenting has vanished into a blackhole and shall return some time in the future or past! Time paradoxes not guaranteed. If you have any feedback or suggestions, please direct your subspace frequencies to the <a href="/#contact">contact form</a>. Thanks!</em></p> #}
<p>Comments are back! Privacy-focused; without ads, bloatware 🤮, and trackers. Be one of the first to contribute to the discussion— before AI invades social media, Trump declares war on guppies, and what little humanity left is lost to time.</p>
<script defer src="https://trebledj.me/js/comentario.min.js"></script>
<comentario-comments id="comentario" auto-init="false" no-fonts="true" css-override="false" theme="dark"></comentario-comments>