<a id="comments"></a>
{% if site.environment == 'production' %}
    {# <div class="disqus"></div>
    {% include "utilities/disqus.html" %}
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus</a>.
    </noscript> #}
    {# <p><em>Commenting has vanished into a blackhole and shall return some time in the future (or past?)! Time paradoxes not guaranteed. If you have any feedback or suggestions, please direct your subspace frequencies to the <a href="/#contact">contact form</a>. Thanks!</em></p> #}
    <script defer src="https://comments.trebledj.me/comentario.js"></script>
    <comentario-comments theme="dark"></comentario-comments>
{% else %}
    {# Never enable Disqus comments in non-prod. It'll mess with their identifier machinery. #}
    <p>Comments have been disabled in non-production.</p>
{% endif %}