{# DON'T FORMAT THIS FILE!!! #}
{% from "tag.html" import render_tag, render_tag_list with context %}

<div class="metadata-container d-flex">
    {# Posted Date #}
    <div class="d-flex flex-row align-items-center">
        {% block post_metadata_date %}
            {% if hasPostedDate %}
                <span>
                    <i class="fas fa-calendar post-meta-icon me-1"></i>
                </span>
                {# DON'T FORMAT!!! #}
                <span class="fs-7 post-posted-date">Posted on <span itemprop="datePublished" content="{{ page.date | dateISO('utc+8') }}">{{ page.date | date | safe }}</span></span>
            {% endif %}
        {% endblock %}
    </div>

    {# Updated Date #}
    <div class="d-flex flex-row align-items-center">
        {% block post_metadata_updated %}
            {% set updatedDate = modified | maxDate(updated) %}
            {# `not hasPostedDate` needed to check if `page.date` exists. #}
            {% if hasUpdatedDate and updatedDate and ((not hasPostedDate) or (updatedDate | date) > (page.date | date)) %}
                <span class="post-updated-date-icon">
                    <i class="fas fa-calendar post-meta-icon me-1"></i>
                </span>
                {# DON'T FORMAT!!! #}
                <span class="fs-7 post-updated-date">Updated on <span itemprop="dateModified" content="{{ updatedDate | dateISO('utc+8') }}">{{ updatedDate | date | safe }}</span></span>
            {% endif %}
        {% endblock %}
    </div>

    {# Reading Time #}
    <div class="d-flex flex-row align-items-center">
        <span>
            <i class="far fa-clock post-meta-icon me-1"></i>
        </span>
        {% set words = post.content | default(content) | wordcountFocused %}
        {% set minutes = ((words + 225) / 225) | int %}
        <span class="fs-7">{{ minutes + " minute read" }}</span>
    </div>
</div>

{# Tags #}
<div class="metadata-tag-container d-flex flex-row align-items-top">
    {% block post_metadata_tags %}
        {% if tags.length > 0 %}
            <span>
                <i class="fas fa-tag post-meta-icon me-1 mt-2"></i>
            </span>
            <div class="tag-list d-flex flex-row flex-wrap align-items-center">
                {{ render_tag_list(tags, 20) }}
            </div>
        {% endif %}
    {% endblock %}
</div>