{# Bundle JS. #}
{% js %}
    var tocOptions = '{{ tocOptions | safe }}';
    var site = {
        typewrite: {{ site.typewrite | dump | safe }},
        search: {{ site.search | dump | safe }},
        lightbox: {{ site.lightbox | dump | safe }},
    };
{% endjs %}

{% js %}
    {# head.js #}
    {% include "assets/js.bundle/common/ctrlk-to-search.js" %}
    {% include "assets/js.bundle/common/scroll-progress.js" %}
    $(() => {
        {% include "assets/js.bundle/common/btn-back-to-top.js" %}
        {% include "assets/js.bundle/common/btn-go-to-tags.js" %}
        {% include "assets/js.bundle/common/carousel-dyn-update.js" %}
        {% include "assets/js.bundle/common/load-tooltips.js" %}
        {% include "assets/js.bundle/common/load-soundcloud.js" %}
        {% include "assets/js.bundle/common/prism-copy-to-clipboard.js" %}
        {% include "assets/js.bundle/common/misc.js" %}
        {% include "assets/js.bundle/common/spoilers.js" %}
    });
{% endjs %}

{% js %} {% include "assets/js.bundle/banner.js.njk" %} {% endjs %}
{% js %} {% include "assets/js.bundle/lightbox.js.njk" %} {% endjs %}
{% js %} {% include "assets/js.bundle/404.js" %} {% endjs %}
{# {% js %} {% include "assets/js.bundle/post.js" %} {% endjs %} #}

{% js %}
    $(() => {
        if ($('.post-body').length === 0) {
            // Not a post.
            return;
        }

        {% include "assets/js.bundle/post/copy-url.js" %}
        {% include "assets/js.bundle/post/toc-misc.js" %}
        {% include "assets/js.bundle/post/toc-highlight-current-section.js" %}
        {% include "assets/js.bundle/post/details.js" %}
        {% include "assets/js.bundle/post/load-comments.js" %}
    });
{% endjs %}

{% js %} {% include "assets/js.bundle/search.js" %} {% endjs %}
{% js %}
    if (document.querySelector(site.typewrite.selector))
    {
        {% include "assets/js.bundle/typewriter.js" %}
        {% include "assets/js.bundle/my-typewrite.js" %}
    }
{% endjs %}
{% set jsBundle %}
    {%- getBundleFileUrl "js" -%}
{% endset %}
<script defer src="{{jsBundle}}"></script>