<meta charset="utf-8"/>

{% set isArticle = page.url and page.url.startsWith("/posts/") and layout.startsWith("layouts/post-") %}

{% if excerpt %}
{# <meta name="__debug" content="{{excerpt}}"> #}
{% set safeExcerpt = excerpt | mdInline | safe | striptags %}
{% endif %}

{# Title / Description #}
{% set titleTagText -%}
{%- if safeTitle -%}
    {{- safeTitle }} - {{ site.title -}}
{% else %}
    {{- site.title }} - {{ site.description -}}
{% endif %}
{%- endset %}
<title>{{titleTagText | safe}}</title>

{% if excerpt %}
    <meta name="description" content="{{ safeExcerpt }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
{% endif %}

{# Compatibility #}
{# <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> #}
<meta name="viewport" content="width=device-width, initial-scale=1"/>

{# Meta: Keywords #}
{# List a bunch of keywords which make sense for this page. #}
{% set page_keywords = [] %}
{% set page_keywords = page_keywords | push(site.author.alias | lower) %}
{% if safeTitle %}
    {% set page_keywords = page_keywords | push(safeTitle | lower | e) %}
{% endif %}
{% if excerpt %}
    {% set page_keywords = page_keywords | push(safeExcerpt | lower | e) %}
{% endif %}
{% if tags %}
    {% set page_keywords = page_keywords | extend(tags | exclude('posts')) %}
{% endif %}
{% if keywords %}
    {% set page_keywords = page_keywords | extend(keywords) %}
{% endif %}
<meta name="keywords" content="{{page_keywords | join(',') | safe}}"/>

{# Meta: Robots #}
{# Configure how the page is indexed and crawled. #}
{% if noindex %}
    {% set index = "noindex" %}
{% else %}
    {% set index = "index" %}
{% endif %}
<meta name="robots" content="{{index}},follow"/>

{# Meta: CSP #}
<meta http-equiv='Content-Security-Policy' content="{{site.content_security_policy | safe}}"/>

{# Meta: RSS Auto-Discovery #}
<link href="/feeds/posts.xml" rel="alternate" title="RSS Feed for {{site.title}}" type="application/rss+xml"/>
{% if feedtags | contains(page.fileSlug) %}
    {# Additional tag for tag pages. #}
    <link href="/feeds/{{page.fileSlug}}.xml" rel="alternate" title="RSS Feed for {{site.title}} ({{page.fileSlug}})" type="application/rss+xml"/>
{% endif %}

{# OpenGraph Metadata #}
{# See https://ogp.me/. #}
<meta property="og:site_name" content="{{ site.title }}"/>
{% if isArticle %}
    <meta property="og:type" content="article"/>
{% else %}
    <meta property="og:type" content="website"/>
{% endif %}
<meta property="og:title" content="{{ titleTagText | safe }}"/>
<meta property="twitter:title" content="{{ titleTagText | safe }}"/>

{% if excerpt %}
    {% set meta_desc = safeExcerpt + "\n\n" + (content | annihilate('.article-header, .post-preamble, .metadata-container, .metadata-tag-container, #toc-sidebar') | striptags | truncateWords(30)) %}
{% else %}
    {% set meta_desc = site.description %}
{% endif %}
<meta property="og:description" content="{{meta_desc}}"/>
<meta property="twitter:description" content="{{meta_desc}}"/>

{% if page.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
{% endif %}
{% if thumbnail_src %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ site.url }}{{ thumbnail_src | resolveImageOutputPath(page) }}"/>
    <meta property="twitter:image" content="{{ site.url }}{{ thumbnail_src | resolveImageOutputPath(page) }}"/>
{% else %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ site.url }}/img/thumbnail.webp"/>
    <meta property="twitter:image" content="{{ site.url }}/img/thumbnail.webp"/>
{% endif %}

{% if isArticle %}
    {% include "utilities/metadata-article.html" %}
{% endif %}

{# How Google Search displays site name #}
<script type="application/ld+json">{"@context": "https://schema.org","@type": "WebSite","name": "{{site.title | safe}}","url": "{{site.url}}"}</script>