{# See Note [with context]. #}
{% from "tag.html" import render_tag with context %}

{% macro tags_sidebar(heading, groups) %}
    <div class="sticky-right dim-gentle">
        <h3 id="{{heading | slugify}}">
            <i class="fas fa-tags me-2"></i>{{heading}}
        </h3>
        {% for data in groups %}
            <div class="mt-2 mb-1">
                <b>{{data.group}}</b>
            </div>
            <span class="d-flex flex-wrap">
                {% for t in data.related %}
                    <span>{{ render_tag(t.tag) }}</span>
                {% endfor %}
            </span>
        {% endfor %}
    </div>
{% endmacro %}