<div id="toc-sidebar" class="sticky-right dim-deep">
    {% include "toc.html" %}

    {# Related #}
    {% if related and (not related.disable) %}
        {% set relatedPosts = collections.postsr | getRelatedPosts(tags, related) %}
        {% if relatedPosts | length > 0 %}
            <div class="toc-link-container">
                <span>
                    <a href="#related">Related Posts</a>
                </span>
            </div>
        {% endif %}
    {% endif %}

    {# Comments #}
    {# {% if comments %}
        <div class="toc-link-container">
            <span>
                <a href="#comments">Comments</a>
            </span>
        </div>
    {% endif %} #}
</div>