---
permalink: /search.json
---

[
{% set comma = joiner() %}
{% for post in collections.posts %}
    {% if not post.data.noindex and post.data.permalink %}
        {{ comma() }}
{
"type": "post",
"title": "{{post.data.title | stripBetweenTags(['sup', 'sub']) | striptags}}",
"excerpt": "{{post.data.excerpt}}",
"keywords": {{((post.data.excerpt | mdInline) + post.content) | striptags | keywords | jsonify | safe}},
"tags": {{post.data.tags | exclude("posts") | jsonify | safe}},
"url": "{{post.url}}"
}
    {% endif %}
{% endfor %}
{% for page in collections.all %}
    {% set xs = page.url | split('/') %}
    {% if xs[1] == 'tags' %}{{ comma() }}
        {% set clean = page.content | striptags %}
{
"type": "tag",
"title": "{{page.data.title}}",
"excerpt": {{clean | truncateWords(20) | jsonify | safe}},
"keywords": {{clean | keywords | jsonify | safe}},
"tags": [],
"url": "{{page.url}}"
}
    {% endif %}
{% endfor %}
]