{% for set in site.data.profile.skills %}
    <div class="d-flex justify-content-between align-items-center">
        <small style="color: var(--medium-text-color);">{{set.category}}</small>
        <div class="container-fluid mx-0"><hr/></div>
    </div>
    {% for s in set.skills %}
        {% set pad = 0 %}
        {% include "author/skill-item.html" %}
        {% for s in s.subskills %}
            {% set pad = 4 %}
            {% include "author/skill-item.html" %}
            {% for s in s.subskills %}
                {% set pad = 5 %}
                {% include "author/skill-item.html" %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}