<ul class="social-item-list hidden">
    {% for item in site.social %}
        <li>
            <div class="d-flex align-items-center">
                <a rel="me" href="{{item.link}}">
                    {% if item.icon %}
                        <i class="social-icon {{item.icon}}" {% if item.color %}style="color:{{item.color}} !important;"{% endif %}></i>
                    {% else %}
                        <i class="social-icon d-flex align-items-center"><img src="{{item.img}}" alt="" loading="lazy" decoding="async"/></i>
                    {% endif %}
                </a>
                <a rel="me" href="{{item.link}}">
                    <span class="social-link">
                        {{item.name}}
                    </span>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>