<ul class="author-social-item-list hidden">
    {% for item in site.social %}
        <li>
            <div class="d-flex flex-row justify-content-start align-items-center">
                <a href="{{item.link}}">
                    <div class="d-flex align-items-center justify-content-center" style="width:30px">
                        {% if item.icon %}
                            <i class="social-icon {{item.icon}}" {% if item.color %}style="color:{{item.color}} !important;"{% endif %}></i>
                        {% else %}
                            <i class="social-icon-img d-flex align-items-center"><img src="{{item.img}}"/></i>
                        {% endif %}
                    </div>
                </a>
                <a href="{{item.link}}" class="d-flex align-items-center">
                    <span class="social-link ms-1">{{item.name}}</span>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>