<div id="post-author-container" class="d-flex justify-content-between align-items-center">
    <img src="/img/{{ site.author.logo }}" class="profile-img me-3" alt="" loading="lazy" decoding="async"/>
    <div class="author-info d-flex flex-column me-3">
        <p class="profile-name">{{ site.author.alias | default(site.author.name) }}</p>
        <p class="profile-bio">{{ site.subtitle }}</p>
    </div>
    <div id="post-author-social-items-wrapper" class="ms-auto mt-1">
        <button class="btn btn-primary py-1">+&nbsp;Social</button>
        {% include "author/social-links.html" %}
    </div>
</div>