<div id="left-sidebar-container" class="d-flex">
    <div id="left-sidebar-bio-container" class="d-flex">
        <img src="/img/{{ site.author.logo }}" class="profile-img" alt="" loading="lazy" decoding="async"/>
        <div class="author-info d-flex flex-column align-items-start">
            <h4 class="profile-name">{{ site.author.alias | default(site.author.name) }}</h4>
            <p class="profile-bio me-4">{{ site.subtitle }}</p>
        </div>
    </div>
    <div class="author-social-items-wrapper mt-1">
        <button class="btn btn-primary py-1">+&nbsp;Social</button>
        {% include "author/social-links.html" %}
    </div>
</div>