<div class="about-me mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="author-info text-content d-flex flex-column align-items-start">
                <h2 id="about-me">About Me</h2>
                {{site.author.bio | md | safe}}
            </div>
        </div>
        <div class="col-md-4 p-3 d-flex justify-content-center align-items-center">
            <img src="/img/{{ site.author.logo }}" class="profile-img" alt="" loading="lazy" decoding="async"/>
        </div>
    </div>
</div>