{# See Note [with context]. #}
{% from "post/preview.html" import render_post_preview with context %}
{% from "tag.html" import render_tag with context %}

{% macro render_topic_preview(name, tag, about, excludeTags, uniquePosts) %}
    {# Description #}
    {# <div class="recent-posts d-flex mb-3 gap-2">
        <span class="mb-1">{{about}}</span>
        <div>
            {{ render_tag(tag) }}
        </div>
    </div> #}

    {# Exclude the topic tag itself. #}
    {# {% set excludeTags = excludeTags | push(tag) %} #}

    {# Get a few posts with the relevant tag. #}
    <div class="collection-list">
        {% for post in uniquePosts %}
            {{ render_post_preview(post, excludeTags=excludeTags) }}
        {% endfor %}
    </div>

{% endmacro %}