---
permalink: /js/disqus.js
---

function loadDisqus() {
    disqusLoader( '.disqus', options);
}

function reloadDisqus() {
    var div = document.getElementById('disqus_thread');
    while (div.firstChild) {
        div.removeChild(div.firstChild);
    }

    /* Pause a while in order for background color to finish transitioning. */
    setTimeout(loadDisqus, 1000);
}
reloadDisqus();