---
title: Posts
layout: layouts/page-default
pagination:
    data: collections.postsr
    size: 7
permalink: /posts{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/index.html
---

{% from "post/preview.html" import render_preview %}

<div class="page-content-container d-flex row gx-6">
    <div class="col-lg-4">
        {% include "sidebars/all-tags-sidebar.html" %}
    </div>

    <div class="col-lg-8">
        {# Main Content #}
        {% include "pagination-links.html" %}

        <div class="post-preview-list">
            {% for post in pagination.items %}
                {{ render_preview(post) }}
            {% endfor %}
        </div>

        {% include "pagination-links.html" %}
    </div>
</div>