---
permalink: /posts/demo.json
archive: true
---

[
{% set comma = joiner() %}
{% for post in collections.postsr %}
  {% if not post.data.noindex %}
    {{ comma() }}
    {# {
      "title": {{post.data.title | jsonify | safe}},
      "description": {{post.data.description | jsonify | safe}},
      "excerpt": {{post.content | striptags | truncate(120, false, "...") | jsonify | safe}},
      "tags": {{post.data.tags | exclude("posts") | jsonify | safe}},
      "date": {{post.page.date | date | safe | jsonify | safe}},
      "url": {{post.url | jsonify | safe}}
    } #}

    {{post.data.title | jsonify | safe}}
  {% endif %}
{% endfor %}
]
