---
permalink: /search.json
---

[
{% set comma = joiner() %}
{% for post in collections.posts %}{{ comma() }}
{
"type": "post",
"title": "{{post.data.title}}",
"tags": {{post.data.tags | exclude("posts") | jsonify | safe}},
"description": "{{post.data.description}}",
"content": {{post.content | striptags | jsonify | safe}},
"url": "{{post.url}}"
}
{% endfor %}
]