---
permalink: /tracks.json
---

[
  {% for post in collections.composition | reverse %}
    {% if not loop.first %},{% endif %}
    {
      "track_id": {{post.data.track_id}},
      "score_id": {{post.data.score_id | default(0)}},
      "tags": ["{{post.data.tags | exclude(["posts", "composition", "music"]) | join('", "') | safe}}"],
      "date": "{{post.page.date | date | safe}}",
      {# Remove footnote markings (sup) and headers. #}
      "description": "{{post.content | annihilateTags(['sup', 'h1', 'h2', 'h3']) | striptags | truncate(150, false, "...") | safe}}",
      "url": "{{post.url}}"
    }
  {% endfor %}
]
