<div class="card p-4 mb-3" id="profile-card">
    <div class="d-flex flex-column align-items-center">
        <!-- <a href="/profile"> -->
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img"/>
        <!-- </a> -->
        {% unless displayname %}
            {% assign displayname = site.author %}
        {% endunless %}
        <h2 class="profile-name">{{displayname}}</h2>
        <!-- <p class="profile-bio">{{ site.subtitle }}</p> -->
    </div>

    <div class="container w-85">
        <div class="row row-cols-3 align-items-center">
            <div class="col p-2">
                <a class="social-link" href="http://github.com/TrebledJ">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="col p-2">
                <a class="social-link" href="https://stackoverflow.com/users/10239789/trebledj">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </div>
            <div class="col p-2">
                <a class="social-link" href="https://www.codingame.com/profile/8444100ecb9723c1ec542346b0630aaa2821532">
                    <img height="24" src="{{'assets/img/logos/codingame.png' | absolute_url}}"/>
                </a>
            </div>
            <div class="col p-2 px-0">
                <a class="social-link" href="https://soundcloud.com/trebledj">
                    <i class="fab fa-soundcloud"></i>
                </a>
            </div>
            <div class="col p-2">
                <a class="social-link" href="https://open.spotify.com/user/24i9exez29k1jr85olljuy94g?si=4213a229649f4ceb">
                    <i class="fab fa-spotify"></i>
                </a>
            </div>
            <div class="col p-2">
                <a class="social-link" href="https://musescore.com/user/20636901">
                    <img height="24" src="{{'assets/img/logos/musescore.png' | absolute_url}}"/>
                </a>
            </div>
            <div class="col p-2">
                <a class="social-link" href="{{'feed.xml' | absolute_url}}">
                    <i class="fas fa-rss"></i>
                </a>
            </div>
            <div class="col p-2">
                <a class="social-link" href="mailto:{{site.author_email}}">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            {% if page.url == '/profile/' %}
            <div class="col p-2">
                <a class="social-link" href="https://www.linkedin.com/in/trebledj">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Wow so strong you hacked my html file. Now you know my Discord username. It was a bit awkward figuring out how to display it, so I just decided to leave it out... -->
    <!-- <a class="social-link" data-placement="top" data-toggle="tooltip" style="cursor: default" title="Find me in International Baccalaureate, Programming Discussions, The Programmer's Hangout, and other Discord servers. (Mostly just lurking.)">
        <i class="fab fa-discord"></i>&nbsp;<span class="fs-6">TrebledJ#7595</span>
    </a> -->
</div>