{% if site.banner.enabled %}
    <div id="banner-container" class="{{ 'sticky-banner' if site.banner.sticky }}">
        <div id="banner" class="bg-primary collapsed">
            <div id="banner-content" class="text-white">
                <i class="fas fa-{{site.banner.icon}} fs-4 me-2"></i>
                {{site.banner.content | mdInline | safe}}
            </div>
            <button aria-label="Close" class="btn-close" type="button"></button>
        </div>
    </div>

    {# Critical: check if banner was already closed. #}
    <script>
        if (!sessionStorage.getItem('bannerClosed')) 
            document
                .getElementById('banner')
                .classList
                .remove('collapsed');
    </script>
{% endif %}