{% if site.banner.enabled %}
    {% set isPost = (r/posts\/.+/g).test(page.url) %}
    {% if site.banner.disableInPosts and not isPost %}
        <div id="banner" class="bg-{{ site.banner.bgColor | default('primary') }} collapsed">
            <div id="banner-content" class="text-{{ site.banner.fgColor | default('white') }}">
                <i class="{{site.banner.icon}} fs-4 me-2" style="{{ site.banner.icon_style }}"></i>
                <span>{{site.banner.content | mdInline | safe}}</span>
            </div>
            {% if site.banner.closeButton %}
                <button aria-label="Close" class="btn-close" type="button"></button>
            {% endif %}
        </div>

        {# Critical: check if banner was already closed. #}
        <script>
            let scope = {{ site.banner.scope | dump | safe }};
            switch (scope) {
                case 'local':
                    scope = localStorage;
                    break;
                case 'session':
                    scope = sessionStorage;
                    break;
                default:
                    scope = undefined;
                    break;
            }
            const lastClosed = scope ? scope.getItem('bannerLastClosedHash') : "";
            if (lastClosed !== {{ site.banner.hash() | dump | safe }}) {
                {# Show banner. #}
                const banner = document.getElementById('banner');
                banner
                    .parentElement
                    .classList
                    .remove('d-none');
                banner
                    .classList
                    .remove('collapsed');
            }
        </script>
    {% endif %}
{% endif %}