<nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="topNav">
    <div class="container-fluid justify-content-between align-items-center">
        <button aria-controls="navbar-container" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbar-container" data-bs-toggle="collapse" type="button">
            <span class="icono-hamburger" id="navbar-hamburger"></span>
        </button>
        <a class="navbar-brand" href="/">{{site.title}}</a>
        <div class="navbar-collapse collapse" id="navbar-container">
            <ul class="navbar-nav me-auto">
                {% for i in site.urls %}
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}{{i.url}}">{{ i.text }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link me-2" id="toggle-search-button" data-bs-toggle="modal"
                        data-bs-target="#search-modal">
                        <i aria-hidden="true" class="fa fa-search search-icon"></i>
                    </a>
                </li>
                <li>
                    <input class="nav-link switch" id="theme-toggle" name="checkbox" onclick="modeSwitcher()"
                        type="checkbox" />
                    <script>modeInit();</script>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-progress-bar"></div>

<!-- Search Form -->
<div aria-hidden="true" aria-labelledby="search-modal-label" class="modal fade" id="search-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex flex-row justify-content-between">
                <div class="container-fluid ps-0" id="search-box-container">
                    <input type="text" autofocus class="container-fluid" id="search-box" placeholder="Search">
                    <i class="fa fa-search"></i>
                </div>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body" id="search-results-list">
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top -->
<button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>