<!-- home hero section -->
<section class="hero-section">
    <div class="hero"></div>
    <div class="d-flex flex-column justify-content-evenly align-items-center hero-fg" style="height: 60vh">
        <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.data.profile.author_logo}}"/>
        <h1 class="mt-3">TrebledJ Pages</h1>
        <h6 class="" id="typewriteText"></h6>
        <div class="d-flex flex-row">
            <a class="me-2" href="{{site.baseurl}}/posts">
                <button class="btn btn-md btn-warning">
                    <strong>Read Posts</strong>
                </button>
            </a>
            <a href="{{site.baseurl}}/music">
                <button class="btn btn-md btn-primary">
                    <strong>Browse Music</strong>
                </button>
            </a>
        </div>
    </div>
    <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
    </div>
</section>
<script>
  $(document).ready(function () {
    var typewriter = new Typewriter('#typewriteText', {
      loop: true
    });

    let strings = [
      '(づ◔ ͜ʖ◔)づ',
      '(∩ ﾟᎲ ﾟ)⊃━☆ﾟ.*',
      'ʕ•ᴥ•ʔ',
      '༼ つ ◕_◕ ༽つ',
      '(╯ ͠° ͟ʖ ͡°)╯┻━┻',
      'ᕕ( ᐛ )ᕗ'
    ];

    for (s of strings) {
      typewriter.typeString(s).pauseFor(2500).deleteAll();
    }

    typewriter.start();
  });
</script>