{% set this = collections.posts | getCollectionItem %}
{% set relatedPosts = collections.posts | reverse | relatedTo(this, related) %}

{% if relatedPosts | length > 0 %}
    <hr/>
    <div class="w-100 p-4">
        <h4>
            <i class="fa fa-link me-2"></i>Related
            </h4>
        <div class="mt-4">
            <div class="row">
                {% for post in relatedPosts %}
                    {% include "post-preview-compressed.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}