<article class="post-preview-compressed">
    <a href="{{site.baseurl}}{{post.url}}"></a>
    <div class="d-flex flex-column">
        <a class="post-thumbnail flex-column" href="{{site.baseurl}}{{post.url}}">
            <img class="post-img-blurred-bg" src="{{site.url}}{{site.baseurl}}{{post.thumbnail}}" alt="{{ post.title }}">
            <div class="post-img-container d-flex w-100 h-100">
                <img class="post-img-contain" src="{{site.url}}{{site.baseurl}}{{post.thumbnail}}" alt="{{ post.title }}">
            </div>
        </a>

        <div class="post-content d-flex flex-column justify-content-between">
            <div>
                <h2 class="post-title">
                    <a href="{{site.baseurl}}{{post.url}}">{{post.title | smartify}}</a>
                </h2>
            </div>
        </div>
    </div>
</article>