
<article class="w-100 post-article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="article-header">
        <h1 class="post-title" id="top" itemprop="name headline">{{ title }}</h1>
        <h6 class="">{{ description }}</h6>
        {% include "post-metadata.html" %}
        {% if sharable %}
        <div class="addthis_inline_share_toolbox"></div>
        {% endif %}
    </div>
    <hr/>
    <div class="card-body p-0 post-body" itemprop="articleBody">
        {% if include_thumbnail and thumbnail %}
            <img class="card-img-top" src="{{thumbnail}}" alt="{{ title }}"/>
            <br/>
            <br/>
        {% endif %}
        {{ content | safe }}
    </div>
</article>
