

.post-preview, .post-preview-compressed {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    border: 1px solid var(--light-border-color);
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);

    &:hover {
        -webkit-transform: translate(-3px, -5px);
        -ms-transform: translate(-3px, -5px);
        transform: translate(-3px, -5px);
        -webkit-box-shadow: 0 15px 45px -10px rgba(5, 8, 17, 0.2);
        box-shadow: 0 15px 45px -10px rgba(5, 8, 17, 0.2);
    }

    .post-thumbnail {
        position: relative;
        overflow: hidden;

        .post-img-contain {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 2;
        }
        .post-img-blurred-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(12px);
            z-index: 1;
        }
    }

    .post-content {
        padding: 1rem;

        p {
            margin-top: 0;
        }
    }
}

// Nested anchors: https://stackoverflow.com/a/52076345/10239789.
.post-preview, .post-preview-compressed {
    position: relative;

    & > a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

// Nested anchors: https://stackoverflow.com/a/52076345/10239789.
.tag-list {
    position: relative;
    pointer-events: none;
    z-index: 10;

    .post-tags {
        pointer-events: all;
    }
}

.post-preview {
    .post-title {
        margin: 0 0 10px;
        font-size: 24px;
        font-weight: 400;
    
        a, a:hover {
            color: var(--bold-color) !important;
        }
    }
}

.post-preview-compressed {
    // Smaller title.
    .post-title {
        margin: 0 0 5px;
        font-size: 18px;
        font-weight: 400;
    
        a, a:hover {
            color: var(--bold-color) !important;
        }
    }

    // Use the vertical layout.
    .post-thumbnail {
        width: 100%;
        min-height: 200px;
    }

    .post-content {
        width: 100%;
    }
}

@media (min-width: 481px) {
    .post-preview {
        flex-direction: row !important;

        .post-img-container {
            align-items: center;
        }

        .post-content {
            width: 70%;
        }
    }

    .post-preview .post-thumbnail {
        width: 35%;
        height: inherit; // height isn't defined, so we'll auto-fit to parent height.
    }
}

@media (max-width: 480px) {
    .post-preview {
        flex-direction: column !important;
        
        .post-thumbnail {
            width: 100%;
            min-height: 200px;
        }

        .post-content {
            width: 100%;
        }
    }
}

.post-preview-list {
    display: flex;
    flex-wrap: wrap;
}

.post-meta-icon,
.post-preview .post-summary {
    font-size: 14px;
}

.post-date,
.post-tags,
.post-meta,
.post-words {
    font-size: 12px;
}

.article-header .post-title {
    font-size: 40px;
}

.post-title, .post-summary {
    color: var(--bold-color) !important;
}

$spacer: 1rem;
@media (min-width: 768px) { 
    .post-article {
        padding: $spacer * 3;
    }
}
@media (min-width: 481px) and (max-width: 767px) { 
    .post-article {
        padding: $spacer * 1.5;
    }
}
@media (min-width: 200px) and (max-width: 480px) { 
    .post-article {
        padding: $spacer;
    }
}

.post-article {
    ul, ol {
        margin-left: 0rem !important;
    }

    li {
        margin-bottom: 0.1rem !important;
    }
}

.mdtoc {
    li {
        margin-top: 0.2rem !important;
    }
}
