#search-modal {
    .modal-dialog {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #search-box-container {
        position: relative;
    }

    #search-box-container i {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
        color: #ced4da;
    }

    #search-box {
        height: 40px;
        border: 2px solid var(--light-border-color);
        border-radius: var(--border-radius-small);
        // background-color: #eeeeee69;
        background-color: var(--card-background-color);
    }

    .border-bottom {
        border-bottom: 2px solid var(--light-border-color);
    }
}