/**
 * Note [!important]
 * ---
 * Some props are marked !important.
 *
 * This is meant to be used sparingly. However, after much testing with
 * Bootstrap components, I find myself with no other choice but to use this
 * monstrous annotation.
 *
 * For instance, with links (<a>), Bootstrap classes tend to have higher
 * priority (due to the amount of detail in their selector, which influences the
 * rule ordering).
 *
 * Think twice before removing !important.
 */

:root {
    --default-font: var(--bs-font-sans-serif);
}

* {
    transition: background-color $transition-duration ease-in, border-color $transition-duration ease-in;
}

html {
    height: 100vh;
    scroll-padding-top: calc($jump-buffer + var(--header-extra));
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}


a {
    // See Note [!important].
    --bs-link-color-rgb: var(--link-color-rgb);
    --bs-link-hover-color-rgb: var(--link-color-rgb);
    // color: var(--link-color) !important;
}

// Animated underline.
// https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css
a,
a:visited {
    // See Note [!important].
    text-decoration: none !important;

    background-image: linear-gradient(to right, currentColor, currentColor);
    background-size: 0 0.1em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size $transition-duration linear;
}

a:hover,
a:focus,
a:active {
    background-size: 100% 0.1em;
}

a[type="button"], a:has(> button) {
    background-image: none;
}

.no-decoration {
    background-image: none;
}

abbr,
abbr:visited,
abbr:hover,
abbr:active {
    text-decoration: underline dotted;
}

body {
    --bs-body-font-family: 'Lucida Grande', Arial, sans-serif;
    --bs-body-font-size: 16px;
    --bs-body-line-height: #{$line-height-cozy};
    --bs-body-color: var(--main-text-color);
    // --bs-body-bg: var(--main-background-color);

    background-color: var(--main-background-color) !important;
    font-feature-settings: "kern" on;
    font-variant-numeric: oldstyle-nums;
    hanging-punctuation: first last;
    height: auto;
    // margin: 0;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: scroll;
}

blockquote {
    padding: $space-base $space-base $space-base $space-base * 1.5;
    overflow: auto;

    border: none;
    border-left: $border-width-thick solid #3642df;
}

footer {
    position: relative;
    width: 100%;
    height: $footer-height;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bold-color);
    --bs-heading-color: var(--bold-color);
    font-family: var(--default-font); // Default.
}

pre,
.alert {
    border-radius: $border-radius-block !important;
}


table:not(.gist *) {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;

    th {
        font-weight: 700;
    }

    th,
    td {
        padding: 6px 13px;
        border: $border-width-table solid var(--border-color);
    }

    tr {
        background-color: var(--main-background-color);
        border-top: 1px solid var(--border-color);
    }

    tr:nth-child(2n) {
        background-color: var(--medium-background-color);
    }

    img {
        background-color: transparent;
    }
}

td,
th {
    padding: 0;
}