@use 'sass:math';

details {
    background: var(--medium-background-color);
    border: $border-width-block solid var(--highlight-color);
    border-radius: $border-radius-block;
    height: fit-content;
}

.details-content {
    padding: $space-base;
    cursor: default;
}

.details-collapse-bottom {
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;

    & a {
        cursor: pointer;
    }
}

summary {
    display: block;
    background: var(--light-background-color);
    padding: $space-base;
    padding-left: $space-double;
    position: relative;
    border-radius: $border-radius-block;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-text-color);
    position: absolute;
    top: 1.4rem;
    left: 1.1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

summary:after {
    content: '(click to expand)';
    position: absolute;
    font-size: 10px;
    right: 1rem;
    bottom: 0.1rem;
    opacity: 1;
    transition: opacity linear .3s;
}

@media (hover: none) {
    summary:after {
        content: '(tap to expand)';
    }
}

details[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: solid math.div($border-width-block, 2) transparent;
    border-bottom-color: var(--highlight-color);

    &:before {
        transform: rotate(90deg);
    }

    &:after {
        opacity: 0;
    }
}

details > summary {
    list-style: none;
}
details summary::marker,
details summary::-webkit-details-marker {
    display: none;
}