.about-me {
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

@property --thb-progress {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

#home {
    .container {
        @include media-breakpoint-down(lg) {
            max-width: none;
            padding-left: $space-double;
            padding-right: $space-double;
        }

        @include media-breakpoint-down(sm) {
            padding-left: $space-container-base;
            padding-right: $space-container-base;
        }
    }
}

.home-header .btn,
.recent-posts .btn {
    border: $border-width solid var(--border-color);
    background-color: var(--background-color);
    color: var(--bold-color) !important;
}

$collapse-time: .3s;
$collapse-function: ease-out;

.post-thumbnail-avg-color {
    &:before {
        content: "";
        display: block;
        position: relative;
        border: 0.8rem solid var(--avg-color);
        border-radius: 50%;
    }
    --avg-color: white;
    position: absolute;
    margin-left: -40px;
    opacity: 0;
    transition: opacity $collapse-time $collapse-function;
}


.post-preview-home {
    // Expanded state.

    .post-thumbnail {
        mask-image: linear-gradient(to top right, rgba(0, 0, 0, 0) calc(2 * var(--thb-progress) - 100%), rgba(0, 0, 0, 1) calc(2 * var(--thb-progress)));
        --thb-progress: 0%;
        transition: --thb-progress $collapse-time $collapse-function, all $collapse-time $collapse-function;
    }

    .post-summary {
        opacity: 1;
        transition: all $collapse-time $collapse-function;

        p {
            margin-bottom: 0;
        }
    }

    .metadata-tag-container {
        opacity: 1;
        // Collapse transition of height: https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/
        display: grid;
        grid-template-rows: 1fr;
        transition: all $collapse-time $collapse-function;
        & > * {
            overflow: hidden;
        }
    }
}

@include media-breakpoint-up(sm) {
    .post-preview-home {
        border: none;
        border-radius: 0;
        margin-bottom: 0;


        &:nth-child(2n+2) {
            .post-preview-container {
                // Image back on left.
                flex-direction: row;
            }
        }

        .post-title {
            margin-top: 0; // In case previews are included in post-body (articles).
            margin-bottom: $space-half;
            font-size: 18px;
            font-weight: 600;
        }

        .post-thumbnail {
            width: 20%;
            min-height: 120px;
        }

        .post-content {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 60%;
        }

        .post-preview-metadata-container {
            width: 20%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        .metadata-reading-time {
            // Reading time.
            display: grid;
            grid-template-rows: 1fr;
            transition: all $collapse-time $collapse-function;
    
            & > * {
                overflow: hidden;
            }
        }
        
        .metadata-container {
            flex-direction: column;
        }

        div:has(> .post-posted-date)::after {
            // No vertical pipe | after date metadata.
            content: none;
        }

        @media (hover: hover) {
            &:hover {
                .post-img-contain {
                    transform: scale(2);
                }

                transform: none; // Disable the shift-up on-hover transform.
            }
        }

        @media (hover: none) {
            .post-img-contain {
                transform: scale(1.5);
            }
        }

        .post-img-contain {
            transition: transform .3s ease-in-out;
        }
        transition: transform .3s ease-in-out;

    }

    .home-header.collapsed {
        & + .collection-list {
            .post-thumbnail-avg-color {
                opacity: 1;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .post-preview-home {
        // Make similar to post-preview in /posts, by throwing away the padding between summary and metadata.
        .post-preview-metadata-container {
            padding: 1rem;
            padding-top: 0;
        }
        .post-content {
            padding-bottom: 0;
        }

        .metadata-reading-time {
            opacity: 1;
            // Collapse transition of height: https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/
            display: flex;
            align-items: center;
            // grid-template-rows: 1fr;
            transition: all $collapse-time $collapse-function;
            & > * {
                overflow: hidden;
            }
        }
    }

    // .home-header.collapsed {
    //     & + .collection-list {
    //         .post-title {
    //             margin-bottom: 0;
    //         }
    //     }
    // }
}

.home-header {
    margin-bottom: .5rem;
}

.home-header > * {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;

    &:before {
        content: '';
        border-width: .8rem;
        border-style: solid;
        border-color: transparent transparent transparent var(--main-text-color);
        position: absolute;
        top: .2rem;
        left: .5rem;
        transform: rotate(90deg);
        transform-origin: .2rem 50%;
        transition: transform $collapse-time $collapse-function;
    }
}

.home-header.collapsed {
    & > *:before {
        transform: rotate(-45deg);
    }

    & + .collection-list {
        .post-thumbnail {
            --thb-progress: 100%;
            min-height: 0px;
        }

        .post-summary {
            opacity: 0;
            line-height: 0rem;
        }

        .metadata-reading-time {
            // Reading time.
            opacity: 0;
            grid-template-rows: 0fr;
        }

        .metadata-tag-container {
            opacity: 0;
            grid-template-rows: 0fr;
        }

        .post-preview-metadata-container {
            justify-content: start;
        }

        div:has(> .post-posted-date)::after {
            // No vertical pipe | after date metadata.
            content: none;
        }
    }
}

.dud {
    opacity: 0.3
}
