.hero-fg {
    width: 100vw;
    height: 60vh;
}

.hero-section {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

html[data-theme="dark"] .hero-section {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html[data-theme="light"] .hero-section {
    background: radial-gradient(ellipse at bottom, #eba85b 0%, #b6b5b0 100%);
}

.hero-fg > * {
    position: relative;
    z-index: 1;
}

#typewrite-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.about-me {
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

// --- Carousel ---

#home {
    .carousel {
        height: 550px;

        // Nowrap, overflow text.
        // .post-title,
        // .post-summary>* {
        //     overflow: hidden;
        //     white-space: nowrap;
        //     text-overflow: ellipsis;
        // }

        // Faded bottom items.
        // .carousel-item {
        //     height: 450px;
        //     overflow: hidden;
        //     mask-image: linear-gradient(180deg, #000 90%, transparent);
        //     -webkit-mask-image: linear-gradient(180deg, #000 90%, transparent);
        // }

        @include media-breakpoint-down(lg) {
            .tag-list span:nth-child(3) {
                display: none;
            }
        }

        // Small view, display only one post.
        @include media-breakpoint-down(md) {
            .collection-list > div:nth-child(n+2) {
                display: none;
            }
        }
    }

    .carousel-control-container {
        flex: 0 0 auto;
        @include media-breakpoint-up(md) {
            width: 5%;
        }
        @include media-breakpoint-down(md) {
            width: 8%;
        }
    }

    .carousel-content-container {
        flex: 0 0 auto;
        @include media-breakpoint-up(md) {
            width: 90%;
        }
        @include media-breakpoint-down(md) {
            width: 84%;
        }
    }

    .carousel-tab-group {
        .btn {
            border: var(--light-border-color) solid $border-width !important;
            color: var(--main-text-color);

            &:hover {
                color: var(--main-text-color);
            }
        }
    }
}

#home {
    .container {
        @include media-breakpoint-down(lg) {
            max-width: none;
            padding-left: $space-double;
            padding-right: $space-double;
        }

        @include media-breakpoint-down(sm) {
            padding-left: $space-container-base;
            padding-right: $space-container-base;
        }
    }
}


.carousel-title .btn,
.recent-posts .btn {
    border: $border-width solid var(--light-border-color);
    background-color: var(--background-color);
    color: var(--bold-color) !important;
}

html[data-theme="light"] {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100%);
    }
}

@include media-breakpoint-down(sm) {
    // Small view, compress the preview.
    #home {
        .topic-title {
            display: none;
        }

        .post-preview {
            p {
                margin-bottom: 0;
            }

            .metadata-container {
                display: none !important;
            }
        }
    }
}

.recent-music-subheading {
    margin-bottom: 0.5rem;
    font-weight: 700;
}