.hero-fg {
    width: 100vw;
    height: 60vh;
}

.hero-section {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

html[data-theme="dark"] .hero-section {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html[data-theme="light"] .hero-section {
    background: radial-gradient(ellipse at bottom, #eba85b 0%, #b6b5b0 100%);
}

.hero-fg > * {
    position: relative;
    z-index: 1;
}

#typewrite-text {
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 30px; // Avoid CLS.
}

.about-me {
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

// --- Carousel ---

#home {
    .carousel {
        height: auto;

        .post-preview {
            @include media-breakpoint-down(lg) {
                .post-preview-container {
                    min-height: 194px; // 2 rows of title.
                }
            }

            @include media-breakpoint-up(lg) {
                .post-content {
                    width: 75%;
                }
                .post-thumbnail {
                    width: 25%;
                }
            }

            .post-title,
            .post-summary p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .post-title {
                line-clamp: 2;
                -webkit-line-clamp: 2;
            }
            .post-summary p {
                line-clamp: 1;
                -webkit-line-clamp: 1;
            }
            
            @include media-breakpoint-down(sm) {
                .post-title {
                    line-clamp: 4;
                    -webkit-line-clamp: 4;
                }
                .post-summary p {
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                }
                .metadata-container {
                    display: none !important;
                }
            }
        }

        // Small view, display only one post.
        .collection-list {
            @include media-breakpoint-up(md) {
                padding: 0 0.5rem;
            }

            @include media-breakpoint-down(md) {
                & .post-preview:nth-child(n+2) {
                    display: none;
                }
            }
        }
    }

    .carousel-control-container {
        flex: 0 0 auto;
        @include media-breakpoint-up(sm) {
            width: 5%;
        }
        @include media-breakpoint-down(sm) {
            width: 8%;
        }
    }

    .carousel-content-container {
        flex: 0 0 auto;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
        @include media-breakpoint-up(sm) {
            width: 90%;
        }
        @include media-breakpoint-down(sm) {
            width: 84%;
        }
    }

    .carousel-tab-group {
        .btn {
            border: var(--light-border-color) solid $border-width !important;
            color: var(--main-text-color);

            &:hover {
                color: var(--main-text-color);
            }
        }
    }
}

#home {
    .container {
        @include media-breakpoint-down(lg) {
            max-width: none;
            padding-left: $space-double;
            padding-right: $space-double;
        }

        @include media-breakpoint-down(sm) {
            padding-left: $space-container-base;
            padding-right: $space-container-base;
        }
    }
}

.recent-posts {
    line-height: $line-height-compact;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: left;
    }
}

.carousel-title .btn,
.recent-posts .btn {
    border: $border-width solid var(--light-border-color);
    background-color: var(--background-color);
    color: var(--bold-color) !important;
}

html[data-theme="light"] {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100%);
    }
}

@include media-breakpoint-down(sm) {
    // Small view, compress the preview.
    #home {
        .topic-title {
            display: none;
        }
    }
}

.recent-music-subheading {
    margin-bottom: 0.5rem;
    font-weight: 700;
}