// --- Overarching Container --- //
.main-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    min-height: calc(100vh - ($footer-height + $header-height));

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.page-container {
    padding-left: 4rem;
    padding-right: 0.25rem;

    @include media-breakpoint-down(lg) {
        padding-left: 0.25rem;
    }
}

.page-content-container {
    flex-direction: row-reverse;
    @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
    }
}


// --- Scroll to Top --- //
// --- Mobile ToC --- //
#btn-back-to-top,
#btn-mobile-toc {
    position: fixed;
    bottom: 10px;
    display: none;
    z-index: 90;
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border: $border-width solid var(--border-color);
    border-radius: $border-radius;

    i {
        color: var(--accent-color);
    }
}

#btn-back-to-top {
    right: 10px;
}

#btn-mobile-toc {
    left: 10px;
}


// --- Sticky Components --- //
.sticky-right {
    @include media-breakpoint-up(lg) {
        top: calc(var(--header-extra) + ($header-height + 1rem));
        right: 0;
        z-index: 2;
        height: fit-content;
        overflow-y: auto;
        position: sticky;
    }
}


// --- 3-Breakpoint Col --- //

.related-col-flex-auto-4 {
    @include media-breakpoint-up(xl) {
        flex: 0 0 auto;
        width: 33.333333333%;
    }
    @include media-breakpoint-between(sm, xl) {
        flex: 0 0 auto;
        width: 50%;

        // Limit number of rows.
        &:nth-child(n+5) {
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        width: 100%;

        // Limit number of rows.
        &:nth-child(n+4) {
            display: none;
        }
    }
}