header {
    position: sticky;
    top: 0;
    z-index: $zindex-fixed;
    overflow-anchor: none;
}

/* Navigation Bar */
.navbar {
    --bs-navbar-padding-x: 2vw !important;
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .05);
    width: 100vw;

    @include media-breakpoint-down(md) {
        --bs-navbar-padding-x: 0 !important;
    }
}

.navbar-brand {
    height: 48px;
    display: flex;
    align-items: center;
}

#navbar-toggler-icon,
#navbar-search {
    color: var(--bold-color);
}

.navbar-brand {
    color: var(--accent-color) !important;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: var(--main-text-color) !important;
}

.navbar-toggler {
    border-color: transparent;
    box-shadow: none;
}

#navbar-container {
    @include media-breakpoint-down(lg) {
        // Margin for nav-items when hamburger is opened.
        padding-left: 10px;
    }
}

.nav-icon {
    font-size: 25px;
    color: var(--accent-color);
    vertical-align: sub;
}

#mode-switch {
    width: 40px;
}

#mode-switch-icon {
    transition: transform .75s;
}

.mode-switch-transform {
    transform: rotate(180deg);
}

/* On-Scroll Progress Bar */
#scroll-progress-bar {
    background: linear-gradient(to right, var(--accent-color) var(--progress), transparent 0);
    height: 2px;
    width: 100%;
    z-index: 1000;
}