.post-meta-icon {
    font-size: 14px;
}

.post-date,
.post-meta,
.post-words {
    font-size: 12px;
}


.article-header .post-title {
    font-size: 40px;

    // Don't break out of width.
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.post-title {
    color: var(--bold-color);
}
.post-summary {
    color: var(--main-text-color)
}

.post-desc {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.post-article {
    .post-meta-icon {
        font-size: 16px;
    }

    .metadata-container {
        @include media-breakpoint-up(md) {
            flex-direction: row;
            align-items: center;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    @include media-breakpoint-up(md) {
        .post-updated-date-icon {
            display: none;
        }

        .post-posted-date::after,
        .post-updated-date::after {
            content: "|";
            margin: 0 0.5rem;
            font-size: 1rem;
        }
    }
}

.metadata-container,
.metadata-tag-container,
.post-share,
#toc-sidebar {
    opacity: $opacity-lower;
}

.post-body {
    // Add article text CSS here.
    .center {
        text-align: center;
    }

    .caption {
        text-align: center;
        line-height: $line-height-compact;
        // margin-top: 0.5rem;
    }

    .no-center {
        /* This class serves no purpose other than making markdown assign attribute lists correctly. (Needs some whitespace tuning.) */
        margin: 0;
    }

    // Default most elements to have top margin instead of bottom margin.
    // *:not(ul, ol, li, hr, svg, p>a, .gist *) 
    p,
    blockquote,
    img,
    table:not(.gist *),
    .gist,
    .video,
    .alert,
    details,
    pre[class*=language-],
    // Keep to override prism.
    pre {
        & {
            margin-top: $space-base;
            margin-bottom: 0;
        }
    }

    &,
    .alert-content,
    blockquote,
    .details-content {
        & > *:first-child {
            margin-top: 0;
        }

        & > ul,
        & > ol {
            margin-top: $space-base;
            margin-bottom: 0;
        }
    }

    div > *:last-child {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $space-threehalves;
    }

    .table-container {
        overflow-x: scroll;
    }

    ul,
    ol {
        margin-left: 0rem;

        @include media-breakpoint-down(sm) {
            padding-left: 1.5rem;
        }
    }

    .tag {
        font-size: 14px;
    }

    .spoiler:not(:hover) {
        background-color: var(--bold-color);
        color: var(--bold-color);

        & * {
            color: var(--bold-color);
        }
    }

    .spoiler {
        transition: none;
    }
}

div.center,
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-share a {
    color: var(--main-text-color) !important;
    cursor: pointer;
}

.copied {
    opacity: 0;
}

.footnote-backref {
    font-family: "Open Sans", arial, sans-serif;
}

.footnotes-sep,
.section-sep {
    margin: $space-double 0;
}

/* Direct Links / Markdown Headers */
// .md-anchor {
// 	font-family: sans-serif;
// 	text-decoration: none;
// 	font-style: normal;
//     font-size: 20px;
// 	margin-left: .1em;
// }
// a[href].md-anchor,
// a[href].md-anchor:visited {
// 	color: transparent !important;
// }
// a[href].md-anchor:focus,
// a[href].md-anchor:focus:visited,
// :hover > a[href].md-anchor,
// :hover > a[href].md-anchor:visited {
// 	color: #aaa !important;
// }


// Handle svg images in both light/dark mode.

html[data-theme="light"] .alpha-img {
    filter: invert(0%);
}

html[data-theme="dark"] .alpha-img {
    filter: invert(100%);
}


@include media-breakpoint-down(sm) {
    // Responsive width for mobile.
    .rw {
        width: 100% !important;
    }
}

@include media-breakpoint-up(sm) {
    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }
}

$breakpoints: sm, md, lg;

@each $b in $breakpoints {
    @include media-breakpoint-down(#{$b}) {
        .rw-#{$b} {
            width: 100% !important;
        }
    }

    @include media-breakpoint-up(#{$b}) {
        .float-left-#{$b} {
            float: left;
        }
        .float-right-#{$b} {
            float: right;
        }
    }
}