.modal {
    .modal-header {
        --bs-modal-header-border-color: var(--border-color);
    }
    
    .modal-footer {
        --bs-modal-footer-border-color: var(--border-color);
    }

    .modal-hint {
        font-size: 0.8rem;
        opacity: $opacity-lowest;
    }

    .border-bottom {
        border-bottom: $border-width solid var(--border-color) !important;
    }

    .modal-content {
        background-color: var(--main-background-color);
    }
}

.wide-modal {
    .modal-dialog {
        // Larger modal for large screens.
        @include media-breakpoint-up(md) {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#search-modal {
    #search-box-container {
        position: relative;
    }

    #search-box-container i {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
        color: var(--border-color);
    }

    #search-box {
        height: 40px;
        border: $border-width-thick solid var(--border-color);
        border-radius: $border-radius-small;
        background-color: var(--main-background-color);
        color: var(--main-text-color);
    }
}

html[data-theme="dark"] .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}
