#toc-sidebar {
    line-height: $line-height-compact;

    @include media-breakpoint-down(lg) {
        // Small screen: bye bye sidebar.
        display: none;
    }

    .toc {
        font-size: 12px;
    }

    .related-sidebar-container,
    .comments-sidebar-container {
        font-size: 12px;
        padding-left: $space-container-base;
    }
}

.toc-container,
.related-sidebar-container,
.comments-sidebar-container {
    a {
        color: var(--main-text-color) !important;
        cursor: pointer;
    }

    a.active {
        color: var(--bold-color) !important;
        font-weight: 600;
    }

    ol {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: $space-container-base;

        li {
            margin-top: $space-container-quarter;
        }
    }

    hr {
        margin-left: 10px;
    }

    br {
        display: block;
        content: "";
        margin-top: 10px;
    }
}

#btn-mobile-toc {
    @include media-breakpoint-down(lg) {
        display: block;
    }

    /* No padding on outer-most list. */
    nav.toc > ol {
        padding-left: 0rem;
    }

    .dropdown-menu {
        background-color: var(--main-background-color);
    }

    .toc {
        margin-left: 0;
        overflow-y: auto;
        max-height: calc(100vh - ($header-height + 100px));
    }
}
