#toc-sidebar {
    line-height: $line-height-cozy;
    overflow-y: auto;

    @include media-breakpoint-down(lg) {
        // Small screen: bye bye sidebar.
        display: none;
    }

    .toc {
        font-size: 12px;
    }

    .toc-link-container {
        margin-bottom: $space-half;
    }
}

#toc-content {
    cursor: pointer;
}

.toc-container,
.toc-link-container {
    a {
        color: var(--main-text-color) !important;
        &:hover {
            font-weight: 500;
        }
    }

    a.active {
        color: var(--bold-color) !important;
        font-weight: 700;
    }
}

.toc-container {
    ol {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: $space-container-base;

        li {
            margin-top: $space-container-quarter;
        }
    }

    br {
        display: block;
        content: "";
        margin-top: 10px;
    }
}

#btn-mobile-toc {
    @include media-breakpoint-down(lg) {
        display: block;
    }

    a {
        &:hover {
            color: #fff !important;
            background-color: var(--bs-primary) !important;
        }
        cursor: pointer;
        background-image: none;
    }

    /* No padding on outer-most list. */
    nav.toc > ol {
        padding-left: 0rem;
    }

    .dropdown-menu {
        background-color: var(--main-background-color);
    }

    .toc {
        margin-left: 0;
        overflow-y: auto;
        max-height: calc(90vh - ($header-height + 100px));
    }
}