
$space-base: 1rem;
$space-double: $space-base * 2;
$space-half: $space-base * 0.5;
$space-quarter: $space-base * 0.25;
$space-threehalves: $space-base * 1.5;

$space-container-mult: 1;
$space-container-base: $space-base * $space-container-mult;
$space-container-double: $space-double * $space-container-mult;
$space-container-half: $space-half * $space-container-mult;
$space-container-quarter: $space-quarter * $space-container-mult;
$space-container-threehalves: $space-threehalves * $space-container-mult;


$header-height: 65px;
$footer-height: 60px;

// For anchors and jumpy jumping.
$jump-buffer: $header-height + 10px;

$border-width: 1px;
$border-width-thick: 3px;
$border-width-table: $border-width * 1;
$border-width-block: $border-width * 1;

$border-radius: 10px;
$border-radius-small: 5px;
$border-radius-block: $border-radius-small;

$opacity-full: 1;
$opacity-low: 0.9;
$opacity-lower: 0.78;
$opacity-lowest: 0.6;

$line-height-cozy: 1.65rem;
$line-height-compact: 1.25rem;

$transition-duration: 0.3s;


html {
    --navbar-accent-color: var(--link-color);
}

html[data-theme="dark"] {
    --bold-color: rgb(188, 188, 188);
    --highlight-color: rgb(75, 75, 75);
    --light-border-color: rgb(58, 57, 60);
    --light-text-color: rgb(199, 199, 204);
    --link-color: rgb(255, 138, 15);
    --link-hover-color: rgb(197, 100, 17);
    --accent-color: rgb(155, 97, 226);
    --main-background-color: rgb(28, 28, 30);
    --medium-background-color: rgb(35, 35, 35);
    --light-background-color: rgb(42, 42, 42);
    --main-text-color: rgb(165, 165, 165);
    --medium-text-color: rgb(179, 179, 179);
}

html[data-theme="light"] {
    --bold-color: rgb(0, 0, 0);
    --highlight-color: rgb(190, 190, 190);
    --light-border-color: rgb(230, 230, 230);
    --light-text-color: rgb(72, 72, 74);
    --link-color: rgb(218, 100, 4);
    --link-hover-color: rgb(200, 90, 0);
    --accent-color: rgb(127, 20, 255);
    --main-background-color: rgb(255, 255, 255);
    --medium-background-color: rgb(240, 240, 240);
    --light-background-color: rgb(210, 210, 210);
    --main-text-color: rgb(35, 35, 35);
    --medium-text-color: rgb(51, 51, 51);
}