// $enable-negative-margins: true;
// $carousel-transition-duration: 2s;
$carousel-transition: transform 2s ease, opacity 1.5s ease-out .5s;

// https://getbootstrap.com/docs/5.3/customize/optimize/

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

// @import '../../node_modules/bootstrap/scss/variables-dark';
// @import '../../node_modules/bootstrap/scss/maps';

// @import "../../node_modules/bootstrap/scss/root";
// @import "../../node_modules/bootstrap/scss/reboot";
// // @import "../../node_modules/bootstrap/scss/type";
// // @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";
// // @import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/navbar";
// // @import "../../node_modules/bootstrap/scss/card";
// // @import "../../node_modules/bootstrap/scss/accordion";
// // @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// // @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// // @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// // @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/carousel";

// // Helpers
// @import "../../node_modules/bootstrap/scss/helpers/color-bg";
// @import "../../node_modules/bootstrap/scss/helpers/visually-hidden";

// // Utilities
// @import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/utilities/api";


@import "variables";
@import "bootstrap-plus";

@import "common";
@import "alerts";
@import "details";
@import "gist";

@import "layouts";

// @import "timeline";
// @import "timeline2";

@import "posts";
@import "post-preview";
@import "post-author";
@import "spinner";
@import "home";
@import "navbar";
@import "search";
@import "profile";
@import "toc-sidebar";


.tag {
    display: inline-block;
    margin: 3px 2px;
    padding: 0px 4px;
    background-color: transparent !important;
    color: var(--main-text-color) !important;
    border: $border-width solid var(--main-text-color);
    border-radius: $border-radius-small;
    position: relative;
    z-index: 1;
    line-height: $line-height-compact;

    pointer-events: all;
    font-size: 12px;

    &, &:focus {
        background-image: linear-gradient(to right, color-mix(in srgb, rgba(var(--link-color-rgb), 1) 60%, var(--main-background-color) 30%), transparent) !important;
        background-size: 0 auto;
    }
    background-position: 0 100%;
    background-repeat: no-repeat;
    transform: all $transition-duration linear;

    &:hover {
        color: var(--bold-color) !important;
        background-size: 100% auto;
    }
}


.author-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.pagination {
    .page-link {
        background-color: var(--main-background-color) !important;
        color: var(--main-text-color) !important;
        border: $border-width solid var(--border-color) !important;
        background-image: none;
    }

    .page-item:not(.faded) .page-link {
        &:focus,
        &:hover {
            border-color: var(--bold-color) !important;
        }
    }

    .active .page-link {
        border: $border-width solid var(--bold-color) !important;
    }

    @include media-breakpoint-down(sm) {
        // Comment when less than 5 pages of posts.
        li:nth-child(n+6):nth-last-child(n+5) {
            display: none;
        }
        li:nth-child(5) {
            .page-link {
                span {
                    display: none;
                }
                &::after {
                    content: " ... ";
                }
            }
        }
    }
}

.faded {
    opacity: $opacity-lowest;
}

.noscroll {
    overflow-y: hidden !important;
}

.track-desc {
    line-height: $line-height-compact;
}

// Interactive opaque on hover (only for large screens).
@include media-breakpoint-up(lg) {
    blockquote,
    .dim-light {
        opacity: $opacity-lower;
        // Note: use transition `all`, so that other transitions are also kept (just modified to use transition-duration and linear).
        transition: all $transition-duration linear;

        &:hover {
            opacity: $opacity-full;
        }
    }

    #toc-sidebar a:not(.active),
    .dim-deep {
        opacity: 0.7;
        transition: all $transition-duration linear;

        &:hover {
            opacity: $opacity-full;
        }
    }
}

@include media-breakpoint-down(lg) {
    blockquote,
    .dim-light {
        opacity: $opacity-low;
    }

    // #toc-sidebar,
    .dim-deep {
        opacity: $opacity-lower;
    }
}

#banner {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    transition: all linear 0.5s;

    .btn-close {
        flex-shrink: 1;
    }

    &.collapsed {
        max-height: 0 !important;
        padding: 0 0.5rem;
    }
}

#banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

p.subheading {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.katex {
    overflow-x: auto;
    overflow-y: hidden;
}