{% if page.date %}
    <meta property="article:published_time" content="{{ page.date | dateISO }}"/>
{% endif %}
{% if updated %}
    <meta property="article:modified_time" content="{{ updated | dateISO }}"/>
{% endif %}
<meta property="article:author" content="{{ site.author.alias }}"/>
{% if ogsection %}
    <meta property="article:section" content="{{ ogsection }}"/>
{% endif %}
{% if tags %}
    {% for t in tags | exclude('posts') %}
        <meta property="article:tag" content="{{t}}"/>
    {% endfor %}
{% endif %}