<meta charset="utf-8"/>

{# Title / Description #}
<title>
    {% if title %}
        {{ title }}
            -
            {{ site.title }}
    {% else %}
        {{ site.title }}
            -
            {{ site.description }}
    {% endif %}
</title>

{% if description %}
    <meta name="description" content="{{ description | markdownify | safe | striptags }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
{% endif %}

{# Compatibility #}
<meta content="IE=edge" http-equip="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>

{# Meta: Keywords #}
{# List a bunch of keywords which make sense for this page. #}
{% set page_keywords = [] %}
{% set page_keywords = page_keywords | push(site.author.alias | lower) %}
{% if title %}
    {% set page_keywords = page_keywords | push(title | lower | e) %}
{% endif %}
{% if description %}
    {% set page_keywords = page_keywords | push(description | lower | e) %}
{% endif %}
{% if tags %}
    {% set page_keywords = page_keywords | extend(tags | exclude('posts')) %}
{% endif %}
{% if keywords %}
    {% set page_keywords = page_keywords | extend(keywords) %}
{% endif %}
<meta name="keywords" content="{{page_keywords | join(',') | safe}}" />

{# Meta: Robots #}
{# Configure how the page is indexed and crawled. #}
{% if noindex %}
    {% set index = "noindex" %}
{% else %}
    {% set index = "index" %}
{% endif %}
<meta name="robots" content="{{index}},follow"/>

{# Meta: CSP #}
<meta http-equiv='Content-Security-Policy' content="{{site.content_security_policy}}"/>

{# Meta: RSS Auto-Discovery #}
<link href="/feeds/posts.xml" rel="alternate" title="RSS Feed for {{site.title}}" type="application/rss+xml"/>
{% if feedtags | contains(page.fileSlug) %}
    {# Additional tag for tag pages. #}
    <link href="/feeds/{{page.fileSlug}}.xml" rel="alternate" title="RSS Feed for {{site.title}} ({{page.fileSlug}})" type="application/rss+xml"/>
{% endif %}

{# OpenGraph Metadata #}
{# See https://ogp.me/. #}
<meta content="{{ site.title }}" property="og:site_name"/>
{% if title %}
    <meta content="{{ title }}" property="og:title"/>
    <meta content="article" property="og:type"/>
{% else %}
    <meta content="{{ site.title }}" property="og:title"/>
    <meta content="website" property="og:type"/>
{% endif %}
{% if description %}
    <meta content="{{ description | markdownify | striptags }}" property="og:description"/>
{% else %}
    <meta content="{{ site.description }}" property="og:description"/>
{% endif %}
{% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url"/>
{% endif %}
{% if thumbnail %}
    <meta content="{{ site.url }}{{ thumbnail }}" property="og:image"/>
{% endif %}
{% if page.date %}
    <meta content="{{ page.date | dateISO }}" property="article:published_time"/>
{% endif %}
{% if updated %}
    <meta content="{{ updated | dateISO }}" property="article:modified_time"/>
{% endif %}
<meta content="{{ site.author.alias }}" property="article:author"/>
{% if category %}
    <meta content="{{ category }}" property="article:section"/>
{% endif %}
{% if tags %}
    <meta content="{{ tags | exclude('posts') | join(',') | safe }}" property="article:tag"/>
{% endif %}