<meta charset="utf-8"/>
<title>
    {% if title %}
        {{ title }}
            -
            {{ site.title }}
    {% else %}
        {{ site.title }}
            -
            {{ site.description }}
    {% endif %}
</title>
<meta content="IE=edge" http-equip="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
{% if description %}
    <meta name="description" content="{{ description | markdownify | safe | striptags }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
{% endif %}

{% set page_keywords = [] %}
{% if tags %}
    {% set page_keywords = page_keywords | extend(tags | exclude('posts')) %}
{% endif %}
{% if keywords %}
    {% set page_keywords = page_keywords | extend(keywords) %}
{% endif %}
<meta name="keywords" content="{{page_keywords | join(',') | safe}}" />

{% if noindex %}
    {% set index = "noindex" %}
{% else %}
    {% set index = "index" %}
{% endif %}
<meta name="robots" content="{{index}},follow"/>

<meta http-equiv='Content-Security-Policy' content="{{site.content_security_policy}}"/>

<link href="/feeds/posts.xml" rel="alternate" title="RSS" type="application/rss+xml"/>
<meta content="{{ site.title }}" property="og:site_name"/>
{% if title %}
    <meta content="{{ title }}" property="og:title"/>
    <meta content="article" property="og:type"/>
{% else %}
    <meta content="{{ site.title }}" property="og:title"/>
    <meta content="website" property="og:type"/>
{% endif %}
{% if description %}
    <meta content="{{ description | markdownify | striptags }}" property="og:description"/>
{% else %}
    <meta content="{{ site.description }}" property="og:description"/>
{% endif %}
{% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url"/>
{% endif %}
{% if thumbnail %}
    <meta content="{{ site.url }}{{ thumbnail }}" property="og:image"/>
{% endif %}
{% if page.date %}
    <meta content="{{ page.date | dateISO }}" property="article:published_time"/>
{% endif %}
{% if updated %}
    <meta content="{{ updated | dateISO }}" property="article:modified_time"/>
{% endif %}
<meta content="{{ site.author.alias }}" property="article:author"/>
{% if category %}
    <meta content="{{ category }}" property="article:section"/>
{% endif %}
{% if tags %}
    <meta content="{{ tags | exclude('posts') | join(',') | safe }}" property="article:tag"/>
{% endif %}