{# Code for handling theme switches. #}
{#
Note [Inlined JS]
---
This script is INLINED into HTML so that it loads FAST. Previously, some users
have reported the background flashes annoyingly on page load. Although the
convention is to avoid inline scripts, keep this script inlined for the sake of UX.
#}
<script>
    const defaultTheme = "dark";
    let icon = undefined;
    var reloadDisqus = undefined;

    function modeInit() {
        const currentTheme = localStorage.getItem("theme");
        if (currentTheme === "dark") {
            setMode("dark");
        } else if (currentTheme === "light") {
            setMode("light");
        } else {
            setMode(defaultTheme);
        }
    }

    function modeInitIcon() {
        icon = document.getElementById('mode-switch-icon');
        if (isLightTheme()) {
            icon.classList.remove('fa-moon');
            icon.classList.add('fa-sun');
        }
    }

    function isLightTheme() {
        return (localStorage.getItem("theme") === "light");
    }

    function modeSwitcher() {
        const currentTheme = localStorage.getItem("theme");
        if (currentTheme === "dark") {
            setMode("light");
            if (reloadDisqus) 
                reloadDisqus();
            }
        else if (currentTheme === "light") {
            setMode("dark");
            if (reloadDisqus) 
                reloadDisqus();
            }
        else {
            setMode(defaultTheme);
        }
    }

    function setMode(mode) {
        if (mode === "dark") {
            document
                .documentElement
                .setAttribute("data-theme", "dark");
            if (icon) {
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
            }
            localStorage.setItem("theme", "dark");
        } else if (mode === "light") {
            document
                .documentElement
                .setAttribute("data-theme", "light");
            if (icon) {
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');
            }
            localStorage.setItem("theme", "light");
        }
    }

    modeInit();
    document.addEventListener("DOMContentLoaded", () => {
        const toggle = document.getElementById('mode-switch')
        toggle.addEventListener("click", () => {
            modeSwitcher();
        });
    });
</script>