---
layout: layouts/page-default
logo: tag
---

{% set _xxx = checkNonEmptyTag(collections[tag], tag, archived) %}

{# See Note [with context]. #}
{% from "post/preview.html" import render_post_preview with context %}
{% from "sidebars/sidebar-utils.html" import tags_sidebar with context %}

{% include "utilities/mobile-go-to-tags.html" %}

<div class="page-content-container row gx-lg-5">
    <div class="col-lg-4">
        {% if not archived %} {# Avoid calling getRelatedTags on archived tags... #}
            {% set groups = [tag] | getRelatedTags(collections.tags, collections.tagcount) %}
            {{ tags_sidebar("Related Tags", groups) }}
        {% endif %}
    </div>

    <div class="col-lg-8">
        {# Main Content #}
        {# Heading #}
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h3>
                {% if logo %}
                    <i class="fas fa-{{logo}} me-1"></i>
                {% endif %}
                {{title | mdInline | safe}}
            </h3>
            {% if feedtags | contains(page.fileSlug) %}
                <abbr data-bs-placement="left" data-bs-toggle="tooltip" title="An RSS feed is available for this tag!">
                    <a href="{{site.baseurl}}/feeds/{{page.fileSlug}}.xml">
                        <i class="fas fa-square-rss fs-4"></i>
                    </a>
                </abbr>
            {% endif %}
        </div>

        <div class="text-content">
            {{ content | safe }}
        </div>

        {# Preview List #}
        <div class="post-preview-list mt-4">
            {% set slug = tag %}
            {% if sortByLatest %}
                {% set seq = collections[slug] | reverse %}
            {% else %}
                {% set seq = collections[slug] %}
            {% endif %}
            {% for post in seq %}
                {{ render_post_preview(post, excludeTags=[slug]) }}
            {% endfor %}
        </div>
    </div>
</div>