---
layout: layouts/default-container
---

{# page-container: add some left padding to shift the content more to the center #}
<div class="page-container col-lg-12">
    {# container-lg: to prevent text from sprawling across wide screens (e.g. 2400px screens) #}
    <div class="container-lg px-0">
        {{ content | safe }}
    </div>
</div>