* {
    transition: background-color $transition-duration ease-in, border-color $transition-duration ease-in;
}

html {
    height: 100vh;
    scroll-padding-top: $jump-buffer;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

a {
    color: var(--link-color) !important;
}

a,
a:visited {
    text-decoration: none !important;
}

// Color-shift links on hover.
a:hover,
a:active {
    color: var(--link-hover-color) !important;
}

abbr,
abbr:visited,
abbr:hover,
abbr:active {
    text-decoration: underline dotted;
}

body {
    background-color: var(--main-background-color) !important;
    color: var(--main-text-color) !important;
    font-feature-settings: "kern" on;
    font-size: 1rem;
    font-variant-numeric: oldstyle-nums;
    hanging-punctuation: first last;
    height: 100%;
    margin: 0;
    text-rendering: optimizeLegibility;
    line-height: $line-height-cozy;
    padding-top: 33px;
    overflow-x: hidden;
    overflow-y: scroll;
}

blockquote {
    padding: $space-base $space-base $space-base $space-base * 1.5;
    overflow: auto;
    opacity: $opacity-lower;

    background: var(--main-background-color);
    border: none;
    border-left: $border-width-thick solid #3642df;

    // border-radius: $border-radius;

    &>*:last-child {
        margin-bottom: 0;
    }
}

footer {
    position: relative;
    width: 100%;
    height: $footer-height;
    text-align: center;
    padding: 20px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bold-color);
}

hr {
    background-color: var(--medium-text-color);
}

pre, .alert {
    border-radius: $border-radius-block !important;
}

table:not(.gist *) {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;

    th {
        font-weight: 700;
    }

    th,
    td {
        padding: 6px 13px;
        border: $border-width-table solid var(--light-border-color);
    }

    tr {
        background-color: var(--main-background-color);
        border-top: 1px solid var(--light-border-color);
    }

    tr:nth-child(2n) {
        background-color: var(--medium-background-color);
    }

    img {
        background-color: transparent;
    }
}

td,
th {
    padding: 0;
}


details {
    background: var(--medium-background-color);
    border: $border-width-block solid var(--highlight-color);
    border-radius: $border-radius-block;
    height: fit-content;
}

.details-content {
    padding: 1rem;
    cursor: default;
}

summary {
    display: block;
    background: var(--light-background-color);
    padding: 1rem;
    padding-left: 2.2rem;
    position: relative;
    border-radius: $border-radius-block;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--bold-color);
    position: absolute;
    top: 1.4rem;
    left: 1.1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary {
    &:before {
        transform: rotate(90deg);
    }
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: solid $border-width-block/2 transparent;
    border-bottom-color: var(--highlight-color);
}

details summary::-webkit-details-marker {
    display: none;
}
