.hero-fg {
    width: 100vw;
}

.hero-section {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    // background: var(--hero-background-color);
}

html[data-theme="dark"] .hero-section {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html[data-theme="light"] .hero-section {
    background: radial-gradient(ellipse at bottom, #eba85b 0%, #b6b5b0 100%);
}

.hero-fg>* {
    position: relative;
    z-index: 1;
}