.hero-fg {
    width: 100vw;
}

.hero-section {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

html[data-theme="dark"] .hero-section {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html[data-theme="light"] .hero-section {
    background: radial-gradient(ellipse at bottom, #eba85b 0%, #b6b5b0 100%);
}

.hero-fg>* {
    position: relative;
    z-index: 1;
}

.about-me {
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

#home .carousel {
    height: 550px;

    // Nowrap, overflow text.
    // .post-title,
    // .post-summary>* {
    //     overflow: hidden;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    // }

    // Faded bottom items.
    // .carousel-item {
    //     height: 450px;
    //     overflow: hidden;
    //     mask-image: linear-gradient(180deg, #000 90%, transparent);
    //     -webkit-mask-image: linear-gradient(180deg, #000 90%, transparent);
    // }
}

.carousel-tab-group {
    .btn {
        border: var(--light-border-color) solid 1px !important;
        color: var(--main-text-color);

        &:hover {
            color: var(--main-text-color);
        }
    }
}

.carousel-control-container {
    flex: 0 0 auto;
    width: 5%;
}

.carousel-content-container {
    flex: 0 0 auto;
    width: 90%;
}

html[data-theme="light"] {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100%);
    }
}

@include media-breakpoint-down(lg) {
    #home {
        .container {
            max-width: none;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        // Small view, display only one post.
        .carousel {
            .tag-list span:nth-child(3) {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(md) {

    // Small view, display only one post.
    #home {
        .carousel {
            .collection-list>div:nth-child(2) {
                display: none;
            }
        }

        .carousel-control-container {
            width: 8%;
        }

        .carousel-content-container {
            width: 84%;
        }
    }
}

@include media-breakpoint-down(sm) {

    // Small view, compress the preview.
    #home {
        .topic-title {
            display: none;
        }

        .post-preview {
            p {
                margin-bottom: 0;
            }

            .metadata-container {
                display: none !important;
            }
        }

        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}