// --- Overarching Container --- //
.main-container {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - ($footer-height + $header-height));
}

@include media-breakpoint-up(md) {
    .main-container {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

// --- Scroll to Top --- //
// --- Mobile ToC --- //
#btn-back-to-top,
#btn-mobile-toc {
    position: fixed;
    bottom: 10px;
    display: none;
    z-index: 90;
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border: $border-width solid var(--light-border-color);
    border-radius: $border-radius;

    i {
        color: var(--link-color);
    }
}

#btn-back-to-top {
    right: 10px;
}

#btn-mobile-toc {
    left: 10px;
}


// --- Sticky Components --- //
.sticky {
    position: -webkit-sticky;
    position: sticky;
}
