// --- Overarching Container --- //
.main-container {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - ($footer-height + $header-height));
}

.page-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

@include media-breakpoint-up(lg) {
    .page-container {
        padding-left: 4rem;
    }
}

@include media-breakpoint-up(md) {
    .main-container {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

// --- Scroll to Top --- //
// --- Mobile ToC --- //
#btn-back-to-top,
#btn-mobile-toc {
    position: fixed;
    bottom: 10px;
    display: none;
    z-index: 90;
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border: $border-width solid var(--light-border-color);
    border-radius: $border-radius;

    i {
        color: var(--link-color);
    }
}

#btn-back-to-top {
    right: 10px;
}

#btn-mobile-toc {
    left: 10px;
}


// --- Sticky Components --- //
.sticky-right {
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 11rem);
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
}


// --- 3-Breakpoint Col --- //

@include media-breakpoint-up(xl) {
    .related-col-flex-auto-4 {
        flex: 0 0 auto;
        width: 33.333333333%;
    }
}

@include media-breakpoint-between(sm, xl) {
    .related-col-flex-auto-4 {
        flex: 0 0 auto;
        width: 50%;

        // Limit number of rows.
        &:nth-child(n+5) {
            display: none;
        }
    }
}

@include media-breakpoint-down(sm) {
    .related-col-flex-auto-4 {
        width: 100%;

        // Limit number of rows.
        &:nth-child(n+4) {
            display: none;
        }
    }
}
