

.post-body {
    .center {
        text-align: center;
        &-25 { width: 25%; }
        &-50 { width: 50%; }
        &-75 { width: 75%; }
        &-100 { width: 100%; }
    }

    .no-center {
        /* This class serves no purpose other than making markdown assign attribute lists correctly. (Needs some whitespace tuning.) */
    }
}


/* Direct Links / Markdown Headers */
// .md-anchor {
// 	font-family: sans-serif;
// 	text-decoration: none;
// 	font-style: normal;
//     font-size: 20px;
// 	margin-left: .1em;
// }
// a[href].md-anchor,
// a[href].md-anchor:visited {
// 	color: transparent !important;
// }
// a[href].md-anchor:focus,
// a[href].md-anchor:focus:visited,
// :hover > a[href].md-anchor,
// :hover > a[href].md-anchor:visited {
// 	color: #aaa !important;
// }


// Handle svg images in both light/dark mode.

html[data-theme="light"] .svg-img {
    filter: invert(0%);
}

html[data-theme="dark"] .svg-img {
    filter: invert(100%);
}