/* Navigation Bar */
#topNav {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--light-border-color);
    width: 100vw;
}

#navbar-hamburger,
#navbar-search {
    color: var(--bold-color);
}

.navbar-dark .navbar-brand {
    color: var(--link-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--main-text-color) !important;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
    box-shadow: none;
}

.navbar-brand-img {
    width: 50px;
    height: 50px;
}

@include media-breakpoint-down(lg) {
    #topNav {
        padding-left: 0;
        padding-right: 0;
    }
}

@include media-breakpoint-down(md) {
    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
}

@include media-breakpoint-down(sm) {
    .navbar-brand {
        margin-left: -30px;
    }
}

/* Search Icon */
.search-icon {
    font-size: 25px !important;
    color: coral;
}

/* On-Load Progress Bar */
.load-progress-bar .bar {
    background: var(--link-color);
}

/* On-Scroll Progress Bar */
#scroll-progress-bar {
    background: linear-gradient(to right, var(--link-color) var(--progress), transparent 0);
    height: 4px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: var(--header-height);
}

@include media-breakpoint-down(lg) {
    #scroll-progress-bar {
        top: 57px;
    }
}