/* Navigation Bar */
.navbar {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--light-border-color);
    width: 100vw;
}

.navbar-brand {
    height: 48px;
    display: flex;
    align-items: center;
}

#navbar-toggler-icon,
#navbar-search {
    color: var(--bold-color);
}

.navbar-brand {
    color: var(--navbar-accent-color) !important;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: var(--main-text-color) !important;
}

.navbar-toggler {
    border-color: transparent;
    box-shadow: none;
}

@include media-breakpoint-down(lg) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Search Icon */
#search-icon {
    font-size: 25px !important;
    color: var(--navbar-accent-color);
}

/* On-Load Progress Bar */
#load-progress-bar .bar {
    background: var(--link-color);
}

/* On-Scroll Progress Bar */
#scroll-progress-bar {
    background: linear-gradient(to right, var(--link-color) var(--progress), transparent 0);
    height: 4px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: $header-height - 2px;
}
