.post-preview,
.post-preview-compressed {
    width: 100%;
    max-width: 100%;
    margin-bottom: $space-threehalves;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    border: $border-width-block solid var(--light-border-color);
    overflow: hidden;
    -webkit-transition: all $transition-duration ease;
    -o-transition: all $transition-duration ease;
    transition: all $transition-duration ease;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);

    .post-thumbnail {
        position: relative;
        overflow: hidden;

        .post-img-contain {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 2;
        }

        .post-img-blurred-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(12px);
            z-index: 1;
        }
    }

    .post-content {
        padding: $space-container-base;

        p {
            margin-top: 0;
        }
    }

    .post-posted-date::after {
        content: "|";
        margin: 0 0.5rem 0 0.3rem;
        font-size: 1rem;
    }
}

@include media-breakpoint-up(lg) {

    .post-preview,
    .post-preview-compressed {

        &:hover {
            -webkit-transform: translate(-3px, -5px);
            -ms-transform: translate(-3px, -5px);
            transform: translate(-3px, -5px);
            -webkit-box-shadow: 0 15px 45px -10px rgba(5, 8, 17, 0.2);
            box-shadow: 0 15px 45px -10px rgba(5, 8, 17, 0.2);
        }
    }
}

// Nested anchors: https://stackoverflow.com/a/52076345/10239789.
.post-preview,
.post-preview-compressed {
    position: relative;

    &>a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.post-preview {
    .post-title {
        margin: 0 0 10px;
        font-size: 24px;
        font-weight: 400;

        a,
        a:hover {
            color: var(--bold-color) !important;
        }
    }
}

// Nested anchors: https://stackoverflow.com/a/52076345/10239789.
.tag-list {
    pointer-events: none;

    .tag {
        pointer-events: all;
    }
}

.post-preview-compressed {

    // Smaller title.
    .post-title {
        margin: 0 0 5px;
        font-size: 18px;
        font-weight: 700;

        a,
        a:hover {
            color: var(--bold-color) !important;
        }
    }

    // Use the vertical layout.
    .post-thumbnail {
        width: 100%;
        min-height: 200px;
    }

    .post-content {
        width: 100%;
    }
}

@include media-breakpoint-up(sm) {
    .post-preview {
        .post-preview-container {
            flex-direction: row;
        }

        .post-img-container {
            align-items: center;
        }

        .post-content {
            width: 70%;
        }
    }

    .post-preview .post-thumbnail {
        width: 35%;
        height: inherit; // height isn't defined, so we'll auto-fit to parent height.
    }
}

@include media-breakpoint-down(sm) {
    .post-preview {
        .post-preview-container {
            flex-direction: column;
        }

        .post-thumbnail {
            width: 100%;
            min-height: 200px;
        }

        .post-content {
            width: 100%;
        }
    }
}

.thin-preview .post-preview {
    .post-preview-container {
        flex-direction: column;
    }

    .post-img-container {
        align-items: inherit;
    }

    .post-thumbnail {
        width: 100%;
        min-height: 200px;
    }

    .post-content {
        width: 100%;
    }
}

.post-preview-list {
    display: flex;
    flex-wrap: wrap;
}

.post-meta-icon,
.post-preview .post-summary {
    font-size: 14px;
}

.post-date,
.post-meta,
.post-words {
    font-size: 12px;
}


.article-header .post-title {
    font-size: 40px;
}

.post-title,
.post-summary {
    color: var(--bold-color);
}

.post-desc {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.post-article {
    .post-meta-icon {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    .post-article {
        .metadata-container {
            flex-direction: row;
            align-items: center;
        }

        .post-updated-date-icon {
            display: none;
        }
    }

    .post-article {

        .post-posted-date::after,
        .post-updated-date::after {
            content: "|";
            margin: 0 0.5rem;
            font-size: 1rem;
        }
    }
}

.metadata-container,
.metadata-tag-container,
.post-share,
#right-sidebar {
    opacity: $opacity-lower;
}

@include media-breakpoint-down(md) {
    .post-article {
        .metadata-container {
            flex-direction: column;
        }
    }
}

.post-body {

    // Add article text CSS here.
    .center {
        text-align: center;
    }

    .caption {
        text-align: center;
        line-height: $line-height-compact;
        // margin-top: 0.5rem;
    }

    .no-center {
        /* This class serves no purpose other than making markdown assign attribute lists correctly. (Needs some whitespace tuning.) */
    }

    // Default most elements to have top margin instead of bottom margin.
    // *:not(ul, ol, li, hr, svg, p>a, .gist *) 
    p,
    blockquote,
    img,
    table:not(.gist *),
    .gist,
    .video,
    .alert,
    details,
    pre {
        & {
            margin-top: $space-base;
            margin-bottom: 0;
        }
    }

    &,
    .alert-content,
    blockquote,
    .details-content {
        &>*:first-child {
            margin-top: 0;
        }

        &>ul,
        &>ol {
            margin-top: $space-base;
            margin-bottom: 0;
        }
    }

    div>*:last-child {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $space-threehalves;
    }

    .table-container {
        overflow-x: scroll;
    }

    ul,
    ol {
        margin-left: 0rem;
    }

    .tag {
        font-size: 13px;
    }

    .spoiler:not(:hover) {
        background-color: var(--bold-color);
        color: var(--bold-color);

        & * {
            color: var(--bold-color);
        }
    }

    .spoiler {
        transition: none;
    }
}

div.center,
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-share a {
    color: var(--main-text-color) !important;
    cursor: pointer;
}

.copied {
    opacity: 0;
}

.footnote-backref {
    font-family: "Open Sans", arial, sans-serif;
}

.footnotes-sep,
.section-sep {
    margin: $space-double 0;
}

.alert-content {
    overflow-x: auto;
    overflow-y: hidden;

    &>ul,
    &>ol {
        padding-left: $space-base;
    }
}

/* Direct Links / Markdown Headers */
// .md-anchor {
// 	font-family: sans-serif;
// 	text-decoration: none;
// 	font-style: normal;
//     font-size: 20px;
// 	margin-left: .1em;
// }
// a[href].md-anchor,
// a[href].md-anchor:visited {
// 	color: transparent !important;
// }
// a[href].md-anchor:focus,
// a[href].md-anchor:focus:visited,
// :hover > a[href].md-anchor,
// :hover > a[href].md-anchor:visited {
// 	color: #aaa !important;
// }


// Handle svg images in both light/dark mode.

html[data-theme="light"] .alpha-img {
    filter: invert(0%);
}

html[data-theme="dark"] .alpha-img {
    filter: invert(100%);
}

// Responsive width for mobile.
@include media-breakpoint-down(sm) {
    .rw {
        width: 100% !important;
    }
}