.post-preview,
.post-preview-compressed {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--light-border-color);
    overflow: hidden;
    -webkit-transition: all var(--transition-duration) ease;
    -o-transition: all var(--transition-duration) ease;
    transition: all var(--transition-duration) ease;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);

    .post-thumbnail {
        position: relative;
        overflow: hidden;

        .post-img-contain {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 2;
        }

        .post-img-blurred-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(12px);
            z-index: 1;
        }
    }

    .post-content {
        padding: 1rem;

        p {
            margin-top: 0;
        }
    }

    .post-posted-date::after {
        content: "|";
        margin: 0 0.5rem;
        font-size: 1rem;
    }
}

@include media-breakpoint-up(lg) {

    .post-preview,
    .post-preview-compressed {

        &:hover {
            -webkit-transform: translate(-3px, -5px);
            -ms-transform: translate(-3px, -5px);
            transform: translate(-3px, -5px);
            -webkit-box-shadow: 0 15px 45px -10px rgba(5, 8, 17, 0.2);
            box-shadow: 0 15px 45px -10px rgba(5, 8, 17, 0.2);
        }
    }
}

// Nested anchors: https://stackoverflow.com/a/52076345/10239789.
.post-preview,
.post-preview-compressed {
    position: relative;

    &>a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.post-preview {
    .post-title {
        margin: 0 0 10px;
        font-size: 24px;
        font-weight: 400;

        a,
        a:hover {
            color: var(--bold-color) !important;
        }
    }
}

// Nested anchors: https://stackoverflow.com/a/52076345/10239789.
.tag-list {
    pointer-events: none;

    .post-tags {
        pointer-events: all;
    }
}

a.tag:hover {
    color: var(--link-color) !important;
}

.post-preview-compressed {

    // Smaller title.
    .post-title {
        margin: 0 0 5px;
        font-size: 18px;
        font-weight: 700;

        a,
        a:hover {
            color: var(--bold-color) !important;
        }
    }

    // Use the vertical layout.
    .post-thumbnail {
        width: 100%;
        min-height: 200px;
    }

    .post-content {
        width: 100%;
    }
}

@include media-breakpoint-up(sm) {
    .post-preview {
        .post-preview-container {
            flex-direction: row;
        }

        .post-img-container {
            align-items: center;
        }

        .post-content {
            width: 70%;
        }
    }

    .post-preview .post-thumbnail {
        width: 35%;
        height: inherit; // height isn't defined, so we'll auto-fit to parent height.
    }
}

@include media-breakpoint-down(sm) {
    .post-preview {
        .post-preview-container {
            flex-direction: column;
        }

        .post-thumbnail {
            width: 100%;
            min-height: 200px;
        }

        .post-content {
            width: 100%;
        }
    }
}

.thin-preview .post-preview {
    .post-preview-container {
        flex-direction: column;
    }

    .post-img-container {
        align-items: inherit;
    }

    .post-thumbnail {
        width: 100%;
        min-height: 200px;
    }

    .post-content {
        width: 100%;
    }
}

.post-preview-list {
    display: flex;
    flex-wrap: wrap;
}

.post-meta-icon,
.post-preview .post-summary {
    font-size: 14px;
}

.post-date,
.post-tags,
.post-meta,
.post-words {
    font-size: 12px;
}


.article-header .post-title {
    font-size: 40px;
}

.post-title,
.post-summary {
    color: var(--bold-color);
}

.post-desc {
    font-size: 1rem;
    font-weight: 600;
}

.post-article {

    h6,
    p {
        line-height: 1.65em;
    }

    ul,
    ol {
        margin-left: 0rem;
    }

    li {
        margin-bottom: 0.1rem;
    }

    .post-meta-icon {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    .post-article {
        .metadata-container {
            flex-direction: row;
            align-items: center;
        }

        .post-updated-date-icon {
            display: none;
        }
    }

    .post-article {

        .post-posted-date::after,
        .post-updated-date::after {
            content: "|";
            margin: 0 0.5rem;
            font-size: 1rem;
        }
    }
}

.metadata-container,
.metadata-tag-container,
.post-share,
#right-sidebar {
    opacity: var(--opacity-lower);
}

@include media-breakpoint-down(md) {
    .post-article {
        .metadata-container {
            flex-direction: column;
        }
    }
}

.post-body {
    .center {
        text-align: center;
    }

    .caption {
        text-align: center;
        line-height: 1.3em;
        // margin-top: 0.5rem;
    }

    .no-center {
        /* This class serves no purpose other than making markdown assign attribute lists correctly. (Needs some whitespace tuning.) */
    }

    ul {
        margin-top: 0.2rem;

        p {
            margin-bottom: 0rem;
        }
    }
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-share a {
    color: var(--main-text-color) !important;
    cursor: pointer;
}

.copied {
    opacity: 0;
}

.footnote-backref {
    font-family: "Open Sans", arial, sans-serif;
}

.footnotes-sep,
.section-sep {
    margin: 2rem 0;
}

.alert-content {
    display: grid; // Workaround to force children within bounds.
}

.alert-content>p:last-child {
    margin-bottom: 0;
}

/* Direct Links / Markdown Headers */
// .md-anchor {
// 	font-family: sans-serif;
// 	text-decoration: none;
// 	font-style: normal;
//     font-size: 20px;
// 	margin-left: .1em;
// }
// a[href].md-anchor,
// a[href].md-anchor:visited {
// 	color: transparent !important;
// }
// a[href].md-anchor:focus,
// a[href].md-anchor:focus:visited,
// :hover > a[href].md-anchor,
// :hover > a[href].md-anchor:visited {
// 	color: #aaa !important;
// }


// Handle svg images in both light/dark mode.

html[data-theme="light"] .svg-img {
    filter: invert(0%);
}

html[data-theme="dark"] .svg-img {
    filter: invert(100%);
}

// Responsive width for mobile.
@include media-breakpoint-down(sm) {
    img.rw {
        width: 100% !important;
    }
}