.left-sidebar-container {
    flex-direction: column;
    align-items: start;
}

.left-sidebar {
    .author-social-items-wrapper button {
        opacity: var(--opacity-low);
    }

    .profile-name,
    .profile-bio,
    .profile-img,
    .author-social-item-list {
        opacity: var(--opacity-lower);
    }

    .profile-name {
        margin-top: 20px;
        font-size: 24px;
    }

    .profile-bio {
        font-size: 16px;
    }

    .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.profile-links {
    margin-top: 5px;
}

.author-social-items-wrapper {
    position: relative;
}

.author-social-item-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    list-style-type: none;

    &.hidden {
        display: block;
    }
}

i.social-icon,
i.social-icon-img {
    color: var(--main-text-color) !important;
    font-size: 18px;
    padding: 3px;
    margin: 2px;
    padding: 2px;
    margin: 2px;

    img {
        height: 18px;
    }
}

.social-link {
    color: var(--main-text-color) !important;
    font-size: 12px;

    &:hover,
    &:active {
        color: var(--link-hover-color) !important;
    }
}

// Large screens.
@include media-breakpoint-up(lg) {
    .left-sidebar {
        top: 5rem;
        left: 0;
        z-index: 2;
        overflow-y: auto;
        height: calc(100vh - 11rem);

        button {
            display: none;
        }
    }
}

// For small screens: collapse column into row, and group social buttons under Follow button.
@include media-breakpoint-down(lg) {
    .left-sidebar {
        button {
            position: relative;
            margin-bottom: 0;

            &.open {
                &:before {
                    pointer-events: auto;
                }
            }
        }

        .profile-name {
            margin-top: 0px;
            font-size: 18px;
        }

        .profile-bio {
            font-size: 14px;
            margin-bottom: 0px;
        }

        .profile-img {
            width: 32px;
            height: 32px;
        }
    }

    .left-sidebar-container {
        flex-direction: row;
        align-items: start;
    }

    .author-info {
        padding-left: 15px;
        padding-right: 15px;
    }

    .author-social-item-list {
        position: absolute;
        right: 0;
        margin-top: 15px;
        z-index: 5;
        padding: 10px;
        border: var(--border-width) solid var(--light-border-color);
        border-radius: var(--border-radius);
        background: var(--main-background-color);
        box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
        opacity: var(--opacity-full);
        cursor: default;

        // Hide social items by default (for small screens).
        &.hidden {
            display: none;
        }

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: -11px;
            left: calc(50% - 10px);
            width: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: var(--light-border-color) transparent;
            z-index: 0;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: -10px;
            left: calc(50% - 10px);
            width: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: var(--main-background-color) transparent;
            z-index: 1;
        }
    }
}