:root {
    --font-family-sans: 'Segoe UI', 'Roboto', Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', system-ui, -apple-system;
    --font-family-serif: 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-family-monospace: Menlo, Consolas, Monaco, 'Liberation Mono', 'Courier New', monospace;
    --font-family-cursive: cursive;

    /* an ideal reading width - 48rem - 768px based off 16px:1rem */
    /* remember to set this to media-queries too if you are not handling it separately */
    --body-width: 48rem;
    --header-height: 60px;
    --footer-height: 60px;

    // For anchors and jumpy jumping.
    --jump-buffer: calc(var(--header-height) + 10px);

    /* default: minor third scale progression */
    --typescale-body: 1.2;

    /* headings:  major third scale progression */
    --typescale-heading: 1.25;

    /* spacings */
    --spacing-heading: 1rem;


    /* default: minor-third scale progression */
    --space-ratio: 1.2;

    --space-base: 1;
    --space-base-px: 16px;
    --space-base-em: 1em;
    --space-base-rem: 1rem;

    --spacescale0: 1;
    --spacescale1: var(--space-ratio);
    /* 1.2   */
    --spacescale2: calc(var(--space-ratio) * var(--spacescale1));
    /* 1.44  */
    --spacescale3: calc(var(--space-ratio) * var(--spacescale2));
    /* 1.728 */
    --spacescale4: calc(var(--space-ratio) * var(--spacescale3));
    /* 2.074 */
    --spacescale5: calc(var(--space-ratio) * var(--spacescale4));
    /* 2.488 */
    --spacescale6: calc(var(--space-ratio) * var(--spacescale5));
    /* 2.986 */
    --spacescale7: calc(var(--space-ratio) * var(--spacescale6));
    /* 3.583 */

    /* space - try to use these */
    --space-base: var(--space-base-rem);
    --space-half: calc(var(--space-base-rem) / 2);
    --space-quarter: calc(var(--space-base-rem) / 4);
    --space-double: calc(var(--space-base-rem) * 2);


    /* typography */
    --font-family: var(--font-family-sans);
    --font-family-headings: var(--font-family-sans);

    --font-size: 16px;
    --font-size-small: 85%;
    --font-size-smaller: 70%;
    --font-size-smallest: 65%;
    --font-size-large: 115%;
    --font-size-larger: 130%;

    --line-height: 1.618;
    --line-height-heading: 1.25;

    --border-width: 1px;
    --border-width-alt: 3px;

    --border-radius: 10px;
    --border-radius-small: 4px;
    --border-radius-round: 100%;

    --opacity-no: 1;
    --opacity-low: 0.9;
    --opacity-lower: 0.75;
    --opacity-lowest: 0.6;

    --transition-duration: 0.4s;
}

html[data-theme="dark"] {
    --bold-color: rgb(188, 188, 188);
    --hero-background-color: rgb(0, 0, 0);
    --highlight-color: hsl(0, 0%, 60%);
    --light-border-color: hsl(255, 3%, 23%);
    --light-text-color: rgb(199, 199, 204);
    --link-color: #ff7601;
    --link-hover-color: #c56411;
    --main-background-color: rgb(28, 28, 30);
    --main-text-color: rgb(139, 139, 139);
    --medium-text-color: hsl(0, 0%, 70%);
    --newsletter-background-color: #222324;
}

html,
html[data-theme="light"] {
    --bold-color: rgb(0, 0, 0);
    --hero-background-color: rgb(255, 255, 255);
    --highlight-color: hsl(0, 0%, 80%);
    --light-border-color: rgb(230, 230, 230);
    --light-text-color: rgb(72, 72, 74);
    --link-color: #ff7601;
    --link-hover-color: #d07b05;
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
    --medium-text-color: hsl(0, 0%, 20%);
}