// $enable-negative-margins: true;
// $carousel-transition-duration: 2s;
$carousel-transition: transform 2s ease, opacity 1.5s ease-out .5s;

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

@import "variables";
@import "bootstrap-plus";

@import "common";
@import "layouts";

@import "timeline";
// @import "timeline2";

@import "posts";
@import "spinner";
@import "home";
@import "navbar";
@import "alerts";
@import "search";
@import "profile";
@import "social-sidebar";
@import "toc-sidebar";
@import "theme-switch";

@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/carousel';


.tag {
    display: inline-block;
    margin: 3px 0px;
    padding: 0px 4px;
    background-color: transparent !important;
    color: var(--main-text-color) !important;
    border: var(--border-width) solid var(--main-text-color);
    border-radius: var(--border-radius-small);
    position: relative;
    z-index: 1;
    
    pointer-events: all;
    font-size: 12px;

    &:hover {
        color: var(--link-color) !important;
    }
}


.author-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.carousel-title .btn,
.recent-posts .btn {
    border: var(--border-width) solid var(--light-border-color);
    background-color: var(--background-color);
    color: var(--bold-color) !important;
}


.pagination {
    .page-link {
        background-color: var(--main-background-color) !important;
        color: var(--medium-text-color) !important;
        border: var(--border-width) solid var(--light-border-color);
    }

    .active .page-link {
        border: var(--border-width) solid var(--bold-color);
    }
}

.faded {
    opacity: var(--opacity-lowest);
}