--- 
--- 
@charset "utf-8";

@import "devlopr";
@import "posts";
@import "spinner";
@import "timeline";
@import "timeline2";
@import "hero";
@import "alerts";
@import "markdown";
@import "search";
@import "bootstrap-plus";

$enable-negative-margins: true;

/* custom css goes below */
h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 60px;
}

a, a:visited {
    text-decoration: none !important;
}

// Color-shift links on hover.
a:hover, a:active {
    color: var(--link-hover-color) !important;
}

abbr, abbr:visited, abbr:hover, abbr:active {
    text-decoration: underline dotted;
}

.tag {
    display: inline-block;
    margin: 3px 0px;
    padding: 2px 4px;
    background-color: transparent !important;
    color: var(--main-text-color) !important;
    border: 1px solid var(--main-text-color);
    border-radius: var(--border-radius-small);
}

* {
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.skill-item .progress-bar {
    // background-color: var(--link-color);
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

.skill-item .progress {
    height: 12px;
}

.hero-fg {
    width: 100vw;
}

.hero-section {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    // background: var(--hero-background-color);
}

html[data-theme="dark"] .hero-section {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html[data-theme="light"] .hero-section {
    background: radial-gradient(ellipse at bottom, #eba85b 0%, #b6b5b0 100%);
}

.hero-fg>* {
    position: relative;
    z-index: 1;
}

// --- Scroll to Top --- //
#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 90;
    background-color: var(--button-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border: 1px solid var(--light-border-color);
    border-radius: var(--border-radius);
    i {
        color: var(--link-color);
    }
}
