--- 
--- 
@charset "utf-8";

// @import "settings";
// @import "styles";
@import "devlopr";
@import "posts";
@import "spinner";
@import "timeline";
@import "hero";

$enable-negative-margins: true;

/* custom css goes below */

a, a:visited {
    text-decoration: none !important;
}

// Color-shift links on hover.
a:hover, a:active {
    color: var(--link-hover-color) !important;
}

abbr, abbr:visited, abbr:hover, abbr:active {
    text-decoration: underline dotted;
}

.tag {
    display: inline-block;
    margin: 3px 0px;
    padding: 2px 4px;
    background-color: transparent !important;
    color: var(--main-text-color) !important;
    border: 1px solid var(--main-text-color);
    border-radius: var(--border-radius-small);
}

* {
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.skill-item .progress-bar {
    // background-color: var(--link-color);
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

.skill-item .progress {
    height: 12px;
}

.hero-fg {
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    // background: var(--hero-background-color);
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.hero {
    // color: white;
}

.hero-fg>* {
    position: relative;
    z-index: 1;
}

// .hero h2 {
//     position: relative;
//     z-index: 1;
//     font-size: 4.5rem;
//     margin: 0 0 10px;
//     line-height: 1;
//     color: rgba(255, 255, 255, 0.9);
// }

// .hero p {
//     position: relative;
//     z-index: 1;
//     font-size: 1.1rem;
//     color: rgba(255, 255, 255, 0.5);
//     line-height: 1.4;
// }

/* ========================= */

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
}

.waves::before {
    border-radius: 44%;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: rgba(51, 51, 51, 1);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}