<head>
    {% include "utilities/metadata.html" %}

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    {% if site.lightbox.enabled %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/magnific-popup.min.css" />
    {% endif %}
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" /> #}

    {% css %}
        {% include "assets/css/prism/prism-command-line.css" %}
        {% include "assets/css/prism/prism-diff.css" %}
        {% include "assets/css/prism/prism-line-numbers.css" %}
        {% include "assets/css/prism/prism-toolbar.css" %}
        {% include "assets/css/prism/prism-custom.css" %}
        {% include "assets/css/prism/theme/prism.css" %}
        {% include "assets/css/prism/theme/prism-tomorrow.min.css" %}
    {% endcss %}
    {% set cssFileBundle %}
        {%- getBundleFileUrl "css" -%}
    {% endset %}
    <link rel="stylesheet" href="{{cssFileBundle}}" media="print"/>

    {% if page.url == "/" %}
        {# Home page. #}
        <link rel="stylesheet" href="/css/shooting-stars.css"/>
    {% endif %}

    <style>{% getBundle "inlinecss" %}</style>
    
    {# <link rel="preload" href="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js" as="script" /> #}

    {% include "utilities/async-css.html" %}
    {% include "utilities/theme-switch.html" %}

    {# Critical scripts here. Other scripts should go at end of body to avoid blocking DOM load. #}
    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>

    {% if comments %}
        <link rel="stylesheet" href="/css/comments.css"/>
    {% endif %}

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {% if canonicalUrl %}
        <link rel="canonical" href="{{canonicalUrl}}" />
    {% endif %}
</head>