{# Non-critical, file-based JS for banner-related behaviour. #}
{% if site.banner.enabled %}
    {% if site.banner.scope %}
        {% set scopeStorage = site.banner.scope + 'Storage' %}
    {% endif %}
    {% js %}
        const root = document.querySelector(':root');
        const bannerHeight = $('#banner').outerHeight();
        {% if site.banner.sticky %}
        if (bannerHeight) {
            root.style.setProperty('--header-extra', `${bannerHeight}px`);
        }
        {% endif %}

        $('#banner .btn-close').on('click', function() {
            {% if site.banner.scope %}
                {{- scopeStorage }}.setItem('bannerLastClosedHash', {{ site.banner.hash() | dump | safe }});
            {% endif %}

            {# Hide button. #}
            this.style.opacity = 0;

            const b = $('#banner');
            b.css('max-height', b.outerHeight());
            root.style.setProperty('--header-extra', '0px');
            window.requestAnimationFrame(() => b.addClass('collapsed'));
            setTimeout(() => {
                b.addClass('d-none');
            }, 600);
        });
    {% endjs %}
{% endif %}