
<article class="w-100 post-article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="article-header">
        <h1 class="post-title" id="top" itemprop="name headline">{{ title }}</h1>
        {% if description %}
        <p class="post-desc">{{ description | markdownify | safe | replace("<p>", "") | replace("</p>", "") }}</p>
        {% endif %}
        {% set post = collections.posts | getCollectionItem %}
        {% include "post/metadata.html" %}
    </div>
    <hr/>
    <div class="post-body" itemprop="articleBody">
        {% if thumbnail_banner and thumbnail %}
            {% hero thumbnail, title, "post1" %}
        {% endif %}
        {{ content | safe }}
    </div>
</article>
