{% from "home/topic-preview.html" import render_topic_preview %}

{% macro render_carousel(collections, name, categories, interval) %}
    {# Title #}
    <div class="carousel-title d-flex flex-row justify-content-between align-items-center">
        <h2 class="mb-0">{{name}}</h2>
    </div>
    <br/>

    {% set carouselId = 'carousel-' + (name | slugify) %}

    {# Keep track of the used posts, so that there are no duplicates. #}
    {% set uniqueSet = [] %}

    <div class="row d-flex align-items-center">
        {# Left Navigation Button #}
        <div class="col-1 d-flex align-items-center justify-content-center">
            <a type="button" data-bs-target="#{{carouselId}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
        </div>
        <div class="col-10">
            <div id="{{carouselId}}" class="carousel carousel-fade" data-bs-ride="carousel">
                {# Carousel Tabs #}
                <div class="d-flex justify-content-center mb-2">
                    <div class="btn-group carousel-tab-group" role="group" aria-label="Carousel radio button group">
                        {% for cat in categories %}
                            <input type="radio" class="btn-check" name="{{carouselId}}-tab" id="{{carouselId}}-tab{{loop.index}}" autocomplete="off"
                                data-bs-target="#{{carouselId}}" data-bs-slide-to="{{loop.index0}}">
                            <label id="{{carouselId}}-tab{{loop.index}}-label" class="btn {{'active' if loop.first}} fs-5" for="{{carouselId}}-tab{{loop.index}}">{{cat.name}}</label>
                        {% endfor %}
                    </div>
                </div>

                {# Carousel Contents #}
                <div class="carousel-inner">
                    {% for cat in categories %}
                        <div class="carousel-item {{"active" if loop.first}}" data-bs-interval="{{interval}}">
                            {{render_topic_preview(collections, cat.name, cat.tag, cat.about, cat.excludeTags, uniqueSet=uniqueSet, nposts=npostsPerTab)}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Right Navigation Button #}
        <div class="col-1 d-flex align-items-center justify-content-center">
            <a type="button" data-bs-target="#{{carouselId}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
{% endmacro %}