{% if process.env.environment == 'production' %}
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = 'page.url';
        this.page.identifier = '{{page.url}}';
        this.page.title = '{{page.title}}';
    };
</script>
    <script defer src="/js/disqus.js"></script>
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
{% else %}
    <p>Comments have been disabled in non-production.</p>
{% endif %}