{# Pre-Condition Parameters:
    * post: an 11ty post object.
#}

{% from "tag.html" import render_tag, render_tag_list %}

<div class="metadata-container dim-deep d-flex">
    {# Posted Date #}
    <div class="d-flex flex-row align-items-center">
        {% block post_metadata_date %}
            {% if hasDate %}
                <span>
                    <i class="fa fa-calendar post-meta-icon me-1"></i>
                </span>
                <span class="fs-7 post-posted-date">
                Posted on <span itemprop="dateCreated">{{ page.date | date | safe }}</span>
                </span>
            {% endif %}
        {% endblock %}
    </div>

    {# Updated Date #}
    <div class="d-flex flex-row align-items-center">
        {% block post_metadata_updated %}
            {% set updatedDate = lastContentCommit | maxDate(updated) %}
            {% if updatedDate %}
                <span class="post-updated-date-icon">
                    <i class="fa fa-calendar post-meta-icon me-1"></i>
                </span>
                <span class="fs-7 post-updated-date">
                    Updated on <span itemprop="dateModified">{{ updatedDate | date | safe }}</span>
                </span>
            {% endif %}
        {% endblock %}
    </div>

    {# Reading Time #}
    <div class="d-flex flex-row align-items-center">
        <span>
            <i class="far fa-clock post-meta-icon me-1"></i>
        </span>
        <span class="fs-7">
            {% set words = post.content | striptags | wordcount %}
            {% set minutes = ((words + 240) / 240) | int %}
            {{ minutes + " minute read" }}
        </span>
    </div>
</div>

{# Tags #}
<div class="metadata-tag-container dim-deep d-flex flex-row align-items-top">
    {% block post_metadata_tags %}
        {% if tags.length > 0 %}
            <span>
                <i class="fa fa-tag post-meta-icon me-1 mt-2"></i>
            </span>
            <div class="tag-list d-flex flex-row flex-wrap align-items-center">
                {{ render_tag_list(tags, 20) }}
            </div>
        {% endif %}
    {% endblock %}
</div>