{% from "tag.html" import render_tag,
render_tag_list %}

{# Parameters:
* post (default: page): a post/page object containing _.tags _.content _.title etc.
* tag_limit (default: 20): the number of tags to display
* show_last_update (default: false): whether or not to show the date when the post was last updated #}
<div class="metadata-container d-flex">
    <div class="d-flex flex-row align-items-center">
        <span>
            <i class="fa fa-calendar post-meta-icon me-1"></i>
        </span>
        <span class="post-date post-posted-date">
            {% block post_metadata_date %}
        Posted on {{ page.date | date | safe }}
            {% endblock %}
        </span>
    </div>
    <div class="d-flex flex-row align-items-center">
        {% block post_metadata_updated %}
            {% if updated %}
                <span>
                    <i class="fa fa-calendar post-meta-icon me-1"></i>
                </span>
                <span class="post-date post-updated-date">
                Updated on {{ updated | date | safe }}
                </span>
            {% endif %}
        {% endblock %}
    </div>
    <div class="d-flex flex-row align-items-center">
        <span>
            <i class="far fa-clock post-meta-icon me-1"></i>
        </span>
        <span class="post-words">
            {% set words = post.content | striptags | wordcount %}
            {% set minutes = ((words + 250) / 250) | int %}
            {{ minutes + " minute read" }}
        </span>
    </div>
</div>
<div class="tag-list d-flex flex-row align-items-center mt-1">
    <span>
        <i class="fa fa-tag post-meta-icon me-2"></i>
    </span>
    {% block post_metadata_tags %}
        {{ render_tag_list(tags, 20) }}
    {% endblock %}
</div>