{# DON'T FORMAT THIS FILE!!! #}
{% extends "post/metadata.html" %}

{# Show simplified date. #}
{% block post_metadata_date %}
    <span>
        <i class="fas fa-calendar post-meta-icon me-1"></i>
    </span>
    {# DON'T FORMAT!!! #}
    <span class="fs-7 post-posted-date">{{ post.page.date | date | safe }}</span>
{% endblock %}

{# Don't show updated date. #}
{% block post_metadata_updated %}{% endblock %}

{# Limit the number of tags. #}
{% block post_metadata_tags %}
    {% if post.data.tags.length > 0 %}
        <span>
            <i class="fas fa-tag post-meta-icon me-1 mt-2"></i>
        </span>
        <div class="tag-list d-flex flex-row flex-wrap align-items-center">
            {{render_tag_list(post.data.tags | exclude(excludeTags), 3)}}
        </div>
    {% endif %}
{% endblock %}