{% macro render_preview(post, taglimit=3, excludeTags=[]) %}
<article class="post-preview">
    <a href="{{post.url}}"></a>
    <div class="post-preview-container d-flex">
        <a class="post-thumbnail" href="{{post.url}}">
            {% imageSync post.data.thumbnail, post.data.title, "post-img-blurred-bg" %}
            <div class="post-img-container d-flex w-100 h-100">
                {% imageSync post.data.thumbnail, post.data.title, "post-img-contain" %}
            </div>
        </a>
    
        <div class="post-content d-flex flex-column justify-content-between">
            <a href="{{post.url}}"></a>
            <div>
                <h2 class="post-title">
                    {{post.data.title}}
                </h2>
                <div class="post-summary">
                    <p>{{ post.data.description | markdownify | safe }}</p>
                </div>
            </div>
            {% include "post/metadata-preview.html" %}
        </div>
    </div>
</article>
{% endmacro %}