<article class="post-preview-compressed">
    <a href="{{post.url}}"></a>
    <div class="d-flex flex-column">
        <a class="post-thumbnail flex-column" href="{{post.url}}">
            {% thumbnail post.data.thumbnail | resolveImagePath(post.page), post.data.title, "post-img-blurred-bg" %}
            <div class="post-img-container d-flex w-100 h-100">
                {% thumbnail post.data.thumbnail | resolveImagePath(post.page), post.data.title, "post-img-contain" %}
            </div>
        </a>

        <div class="post-content d-flex flex-column justify-content-between">
            <a href="{{post.url}}"></a>
            <div>
                <b class="post-title">{{post.data.title}}</b>
                <div class="post-summary">
                    <p>{{ post.data.description | markdownify | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</article>