{% set this = collections.posts | getCollectionItem %}
{% if this %}
    {% set relatedPosts = collections.postsr | relatedPosts(this, related) %}

    {% if (not related.disable) and (relatedPosts | length) > 0 %}
        <hr class="section-sep"/>
        <div id="related" class="w-100">
            <h3>
                <i class="fa fa-circle-nodes me-2"></i>Related Posts
            </h3>
            <div class="row gx-3 mt-4">
                {% for post in relatedPosts %}
                    <div class="related-col-flex-auto-4">
                        {% include "post/preview-compressed.html" %}
                    </div>
                {% endfor %}
            </div>

            <hr/>
            <h3>
                <i class="fa fa-tags me-2"></i>Related Tags
            </h3>
            {% set relatedTagGroups = tags | relatedTags(collections.tags, collections.tagcount) %}
            {% for data in relatedTagGroups %}
                {% set sSrcTag %}
                {% set comma = joiner() %}
                {% for t in data.src %}{{comma()}} {{t}}{% endfor %}
                {% endset %}
                {% set sRelatedTag %}
                {% for t in data.related %}
                    {% tag t.tag %}
                {% endfor %}
                {% endset %}
                <div class="mt-3">
                    <h4>
                        <abbr data-placement="top" data-toggle="tooltip" title="Related to {{sSrcTag | trim}}">{{data.group}}</abbr>
                    </h4>
                    <span class="d-flex flex-wrap">{{sRelatedTag | safe}}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}