{% macro icon(faicon) %}
<span class="fs-4 ms-3 me-n1">
    <i class="{{faicon}}"></i>
</span>
{% endmacro %}
{% macro sharer(brand) %}
<a data-sharer="{{brand}}" data-title="{{title}}" data-url="{{page.url | absoluteUrl}}">
    {{icon('fab fa-' + brand)}}
</a>
{% endmacro %}

<script async src="/js/sharer.min.js"></script>
<div class="post-share d-flex flex-row mt-4 mb-3 align-items-center">
    <span style="margin-right:-4px;">Share on</span>
    {{sharer('reddit')}}
    {{sharer('telegram')}}
    {{sharer('whatsapp')}}
    {# {{sharer('line')}} #}
    {# {{sharer('linkedin')}} #}
    {{sharer('facebook')}}
    {{sharer('twitter')}}
    <a onclick="copyUrlToClipboard()">
        {{icon('fas fa-link')}}
    </a>
    <span class="copied ms-2">Link copied!</span>
</div>