---js
{
  layout: "layouts/default-full",
  permalink: "/index.html",
  eleventyNavigation: {
    key: "Home",
    order: 1,
  },
  showToc: true,
  eleventyComputed: {
    postGroupedTopics: ({ site }) => site.home.topics,
  },
  redirect_from: ["/profile", "/cv"],
  tocOptions: '{"tags":["h2"]}', // h3 has issues being parsed???
}
---
<div id="home">
  <div class="container">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    {% include "home/about-me.html" %}
    {% include "home/recent-posts.html" %}
    {% include "home/contact.html" %}
  </div>
</div>