---js
{
  layout: "layouts/default-full",
  permalink: "/index.html",
  eleventyNavigation: {
    key: "Home",
    order: 1,
  },
  showToc: true,
  eleventyComputed: {
    carouselAutoInterval: ({ site }) => site.home.carouselAutoInterval,
    npostsPerTab: ({ site }) => site.home.npostsPerTab,
    featuredTracks: ({ site }) => site.home.featuredTracks,
    professionalCategories: ({ site }) => site.home.professionalCategories,
    humanitiesCategories: ({ site }) => site.home.humanitiesCategories,
    projectCategories: ({ site }) => site.home.projectCategories,
  },
  redirect_from: ["/profile", "/cv"],
}
---
<div id="home">
  {% include "home/hero.html" %}

  <div class="container">
    {% include "home/about-me.html" %}
    {% include "home/recents.html" %}
    {% include "home/contact.html" %}
  </div>
</div>