---
# A infinite-scroll of music posts.
title: Music
layout: layouts/page-default
---

{% from "sidebars/sidebar-utils.html" import tags_sidebar with context %}

<div class="page-content-container d-flex row gx-6">
    <div class="col-lg-4">
        {% set groups = "music." | getTagsByPrefix(collections.tags) %}
        {{ tags_sidebar("Tags", groups) }}
    </div>

    <div class="col-lg-8 mb-4">
        {# Main Content #}
        <div id="track-list" class="container-fluid"></div>

        <template id="template-track">
            <div>
                <br/>
                <p class="subheading">
                    <a href="/">Example Title</a>
                </p>
                <p class="track-desc fs-7"></p>
                <iframe title="SoundCloud Track ${item.track_id}" allow="autoplay" frameborder="no" height="166" scrolling="no"
                    {# src="link..." #}
                    width="100%" loading="lazy"></iframe>
                <div class="d-flex flex-row align-items-center">
                    <span>
                        <i class="fas fa-tag post-meta-icon me-1"></i>
                    </span>
                    <div class="track-tags">
                        {# ${tags} #}
                    </div>
                </div>
                <p class="track-content fs-7 mt-1 mb-0">
                    {# ${item.excerpt} #}
                    <a class="track-link" href="/">(continue reading)</a>
                </p>
            </div>
        </template>

        <script src="/js/infinite-loader.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                (function ($) {
                    const visual = ($(window).width() < 600);
                    const template = $($("#template-track").html());

                    const l = InfiniteLoader({
                        data: '/tracks.json',
                        items: {
                            num: 4,
                            after: 2
                        },
                        append: '#track-list',
                        html: (item, index) => {
                            const el = template.clone();
                            const url = `{{ site.baseurl }}${item.url}`;

                            const title = el.find(".subheading a");
                            title.attr("href", url);
                            title.html(item.title);

                            el
                                .find(".track-desc")
                                .html(`<b>${item.excerpt}</b>`);

                            const track = el.find("iframe");
                            track.attr("title", `Track: ${item.title}`);
                            track.attr("src", `https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/${item.track_id}&color=%23{{ site.color.soundcloud }}&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false&visual=${visual}`);

                            const toHTMLTag = t => `<span><a class="tag" href="{{ site.baseurl }}/tags/${t}/">${t}</a></span>`;

                            /* Exclude common tags and convert into html code. */
                            const tags = item
                                .tags
                                .map(toHTMLTag)
                                .join("");
                            el
                                .find(".track-tags")
                                .html(tags);

                            /* Fill description and link. */
                            const htmldecode = t => $("<textarea/>").html(t).text();
                            el
                                .find(".track-content")
                                .prepend(htmldecode(item.content));
                            el
                                .find(".track-link")
                                .attr("href", url);

                            /* No spacing before first item. */
                            if (index == 0) {
                                el
                                    .children("br")
                                    .remove();
                            }

                            return el;
                        }
                    });
                })(jQuery);
            });
        </script>

        <div class="infinite-spinner"></div>
    </div>
</div>