---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        {{ content }}
        {%- include footer.html -%}
        <script>
            var options = {
                classname: 'progressline',
                id: 'my-id'
            };
            var nanobar = new Nanobar( options );
            nanobar.go( 30 );
            nanobar.go( 76 );
            nanobar.go(100);
        </script>

        <script>
          $(document).ready(_ => {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
          })
        </script>

        {% if page.sharable %}
        <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-634da597b9367ad3"></script>
        {% endif %}
  </body>
</html>