---
layout: default
---
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-4">
            <div class="card p-4 mb-3" id="profile-card">
                <a href="/">
                    <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img"/>
                </a>
                <h1 class="profile-name">{{ site.author }}</h1>
                <p class="profile-bio">{{ site.subtitle }}</p>

                <p class="profile-links">
                    <a class="social-link" href="http://github.com/TrebledJ">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="social-link" href="https://stackoverflow.com/users/10239789/trebledj">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                    <a class="social-link" href="https://www.codingame.com/profile/8444100ecb9723c1ec542346b0630aaa2821532">
                        <img class="svg-social-link" height="48" src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/codingame.svg" width="48"/>
                    </a>
                    <a class="social-link" href="https://soundcloud.com/trebledj">
                        <i class="fab fa-soundcloud"></i>
                    </a>
                    <a class="social-link" href="https://open.spotify.com/user/24i9exez29k1jr85olljuy94g?si=4213a229649f4ceb">
                        <i class="fab fa-spotify"></i>
                    </a>
                    <!-- <a class="social-link" href="http://linkedin.com/in/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> -->
                </p>
                <a class="social-link">
                    <i class="fab fa-discord"></i>
                    TrebledJ#7595
                </a>

                {% if site.author_email %}
                    <h6>
                        <i class="fas fa-envelope"></i>
                        {{ site.author_email }}</h6>
                {% endif %}
                {% if site.author_website_url %}
                    <h6>
                        <i class="fas fa-link"></i>
                        {{ site.author_website_url }}</h6>
                {% endif %}
            </div>

            <!-- ABOUT -->
            <div class="card p-4 pb-3 mb-3">
                <h2 class="card-title">About</h2>
                <p>{{ site.author_bio }}</p>
            </div>

            <!-- SKILLZ -->
            <div class="card p-4 author-skills">
                <h2 class="card-title">Skilltree</h2>
                {%- include author_skills.html -%}
            </div>
        </div>
        <div class="col-lg-8">
            <!-- PROJECTS -->
            <div class="card p-4 mb-3" id="author_projects" style="height: 75vh">
                <h2 class="card-title">Projects</h2>
                <br/>
                <div class="card-body m-0 ms-n2 overflow-auto">
                    {% include author_projects.html %}
                </div>
            </div>
            <!-- WORK EXPERIENCES -->
            <div class="card p-4 mb-3">
                <h2 class="card-title">Work Experience</h2>
                <br/>
                <div class="card-body m-0 ms-n2 overflow-auto">
                    {% include author_work_experiences.html %}
                </div>
            </div>
            <div class="card p-4">
                <h2 class="card-title">Education</h2>
                <br/>
                <div class="card-body m-0 ms-n2 overflow-auto">
                    {% include author_education.html %}
                </div>
            </div>
        </div>
    </div>
</div>
