---
layout: container-width
---
<div class="col-lg-12 g-4">
    <div class="row">
        <div class="col-lg-4">
            <!-- SOCIAL LINKS -->
            {% assign displayname = site.author_name %}
            {% include social.html %}

            <!-- ABOUT -->
            <div class="card p-4 pb-3 mb-3">
                <h2 class="card-title">About</h2>
                <p>{{ site.author_bio | markdownify }}</p>
            </div>

            <!-- SKILLZ -->
            <div class="card author-skills p-4 mb-3">
                <h2 class="card-title">Skilltree</h2>
                {%- include author_skills.html -%}
            </div>
        </div>
        <div class="col-lg-8">
            <!-- PROJECTS -->
            <div class="card p-4 mb-3" id="author_projects" style="height: 75vh">
                <h2 class="card-title">Projects</h2>
                <div class="m-0 overflow-auto">
                    {% include author_projects.html %}
                </div>
            </div>
            <!-- WORK EXPERIENCES -->
            <div class="card p-4 mb-3">
                <h2 class="card-title">Work Experience</h2>
                <div class="m-0 overflow-auto">
                    {% include author_work_experiences.html %}
                </div>
            </div>
            <div class="card p-4">
                <h2 class="card-title">Education</h2>
                <div class="m-0 overflow-auto">
                    {% include author_education.html %}
                </div>
            </div>
        </div>
    </div>
</div>
