---
layout: default-container
---
<div class="col-lg-12 g-4">
    <div class="row">
        <div class="col-lg-4">
            <!-- SOCIAL LINKS -->
            {% assign displayname = site.data.profile.author_name %}
            {% include author-social.html %}

            <!-- ABOUT -->
            <div class="card p-4 pb-3 mb-3">
                <h2 class="card-title">About</h2>
                {{ site.data.profile.author_bio | markdownify }}
            </div>

            <!-- SKILLZ -->
            <div class="card author-skills p-4 mb-3">
                <h2 class="card-title">Skilltree</h2>
                {%- include author-skills.html -%}
            </div>
        </div>
        <div class="col-lg-8">
            <!-- PROJECTS -->
            <div class="card p-4 mb-3" id="author_projects" style="height: 75vh">
                <h2 class="card-title">Projects</h2>
                <div class="m-0 overflow-auto">
                    {% include author-projects.html %}
                </div>
            </div>
            <!-- EXPERIENCES -->
            <div class="card p-4 mb-3" id="author_experiences" style="height: 75vh">
                <h2 class="card-title">Experiences</h2>
                <div class="m-0 overflow-auto">
                    {% include author-experiences.html %}
                </div>
            </div>
            <!-- WORK EXPERIENCES -->
            <div class="card p-4 mb-3">
                <h2 class="card-title">Work Experience</h2>
                <div class="m-0 overflow-auto">
                    {% include author-work-experiences.html %}
                </div>
            </div>
            <!-- AWARDS -->
            <div class="card p-4 mb-3" style="height: 75vh">
                <h2 class="card-title">Awards</h2>
                <div class="m-0 overflow-auto">
                    {% include author-awards.html %}
                </div>
            </div>
            <!-- EDUCATION -->
            <div class="card p-4">
                <h2 class="card-title">Education</h2>
                <div class="m-0 overflow-auto">
                    {% include author-education.html %}
                </div>
            </div>
        </div>
    </div>
</div>
