<div class="about-me mt-5">
    <div class="col">
        <div class="row">
            <div class="col-md-4 p-3 d-flex justify-content-center align-items-center">
                <img src="/img/{{ site.author.logo }}" class="profile-img" alt="" loading="lazy" decoding="async"/>
            </div>
            <div class="col-md-8">
                <div class="author-info d-flex flex-column align-items-start">
                    <p class="profile-name">About Me</p>
                    {{site.author.bio | markdownify | safe}}
                </div>
            </div>
        </div>
    </div>
</div>