{% from "post/carousel.html" import render_carousel %}
{% from "tag.html" import render_tag_list %}

<div class="mt-4">
    {{render_carousel(collections, "Recent Posts", post_categories, carousel_interval)}}

    {% if featured_tracks %}
        <h2 class="mb-0">Recent Music</h2>
        <br/>

        <div class="row">
            {% for track_id in featured_tracks %}
                <div class="col-md-6">

                    {% set visual = true %}
                    {% include "track.html" %}

                    {% for post in collections.composition %}
                        {% if track_id == post.data.track_id %}
                            <div>
                                <b>{{post.data.title}}</b>
                            </div>
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <span>
                                    <i class="fa fa-tag post-meta-icon me-2"></i>
                                </span>
                                {{render_tag_list(post.data.tags, 3)}}
                            </div>

                            <div class="my-2">
                                {{post.content | annihilateTags(['sup', 'h1', 'h2', 'h3']) | truncate(300, false, "...") | safe}}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <br/>
                </div>

            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {{render_carousel(collections, "Projects and Experiences", project_categories, carousel_interval)}}
</div>

{# <div class="container mt-4">
    <div class="col-lg-12 p-3">
        <div class="row gx-5">
            {% for cat in categories %}
                <div class="col-lg-6">
                    {{render_tag_preview(collections, cat.name, cat.tag, cat.about, cat.excludeTags)}}
                </div>
            {% endfor %}
        </div>
    </div>
</div> #}