{% from "post/carousel.html" import render_posts_carousel %}
{% from "tag.html" import render_tag_list %}

<div class="mt-4">
    {# Seperate posts into unique lists. #}
    {% set tags = postCategories | extend(projectCategories) | mapattr('tag') %}
    {% set uniquePosts = collections.postsr | selectHomePosts(tags, npostsPerTab) %}

    {# Recent Posts Section #}
    {{render_posts_carousel(uniquePosts, "Recent Posts", "pencil", postCategories, carouselAutoInterval)}}

    {# Recent Music Section #}
    {% if featuredTracks %}
        <h2 id="recent-music" class="mb-0">Recent Music <i class="fas fa-music ms-1"></i></h2>
        <br/>

        <div class="row">
            {% for track_id in featuredTracks %}
                <div class="col-md-6">
                    {# Track #}
                    {% include "track.html" %}

                    {# Find post and extract summary. #}
                    {% for post in collections.composition %}
                        {% if track_id == post.data.track_id %}
                            <p class="recent-music-subheading">
                                <a href="{{post.url}}">{{post.data.title | mdInline | safe}}</a>
                            </p>
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <span>
                                    <i class="fa fa-tag post-meta-icon me-2"></i>
                                </span>
                                {{render_tag_list(post.data.tags | exclude(['composition', 'music']), limit=3)}}
                            </div>

                            <div class="my-2 mb-4">
                                {{post.content | annihilateTags(['sup', 'h1', 'h2', 'h3']) | truncate(300, false, "...") | safe}}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {# Recent Projects and Experiences Section #}
    {{render_posts_carousel(uniquePosts, "Projects and Experiences", "star", projectCategories, carouselAutoInterval)}}

    <script>
        // CRITICAL: Set carousel height based on tallest child item.
        // Objective is to avoid subsequent CLS while minimising white-space.
        // CLS: Content Layout Shift. Everytime the carousel changes, the
        // height also changes, and items below will shift up/down like 
        // a rollercoaster. This is sure to make UI designers puke.
        [...document.querySelectorAll(".carousel")].map(e => {
            const maxItemHeight = Math.max(...[...e.querySelectorAll(".carousel-item")].map(i => {
                const tmp = i.style.display;
                i.style.display = 'block'; // hack: https://stackoverflow.com/q/1473584/10239789
                const h = i.offsetHeight;
                i.style.display = tmp;
                return h;
            }));
            e.style.height = (maxItemHeight + 5) + 'px';
        });
    </script>
</div>