{% from "post/preview.html" import render_preview %}

{% macro render_tag_preview(collections, name, tag, about, excludeTags, uniqueSet, nposts = 3) %}
    <div class="recent-posts d-flex flex-row justify-content-between align-items-center mb-3">
        <span>{{about}} (See all <a href="/tags/{{tag}}">posts in this topic</a>.)</span>
    </div>

    {% set excludeTags = excludeTags | push(tag) %}

    <div class="thin-preview">
        <div class="row collection-list">
            {% set count = 0 %}
            {% for post in collections[tag] | reverse %}
                {% if count < nposts and not(uniqueSet | contains(post.url)) %}
                    {% set uniqueSet = uniqueSet | pushi(post.url) %}
                    {% set count = count + 1 %}
                    <div class="col-md-6">
                        {{ render_preview(post, excludeTags=excludeTags) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endmacro %}