{% from "post/preview.html" import render_preview %}
{% from "tag.html" import render_tag %}

{% macro render_topic_preview(collections, name, tag, about, excludeTags, uniqueSet, nposts = 3) %}
    {# Description #}
    <div class="recent-posts d-flex flex-row justify-content-between align-items-center mb-3">
        <span class="me-2">{{about}}</span>
        <div>
            {{ render_tag(tag) }}
        </div>
    </div>

    {% set excludeTags = excludeTags | push(tag) %}

    {# Get a few posts with the relevant tag. #}
    <div class="thin-preview">
        <div class="row collection-list">
            {% set count = 0 %}
            {% for post in collections[tag] | reverse %}
                {% if count < nposts and not(uniqueSet | contains(post.url)) %}
                    {% set uniqueSet = uniqueSet | pushi(post.url) %}
                    {% set count = count + 1 %}
                    <div class="col-md-6">
                        {{ render_preview(post, excludeTags=excludeTags) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endmacro %}