<!DOCTYPE html>
<html lang="{{ page.lang or "en" }}">
    {% include "head.html" %}
    <body>
        {% include "header.html" %}
        {{ content | safe }}
        {% include "footer.html" %}
        {% if usemathjax %}
            {% include "utilities/mathjax.html" %}
        {% endif %}
    </body>
</html>