---
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.subtitle }}</subtitle>
  <link href="{{ site.url }}/feeds/{{ target }}.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections[target] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author.alias }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for post in collections[target] | reverse %}
    {% if post.data.permalink %}
      {% set absolutePostUrl = post.url | absoluteUrl(site.url) %}
      <entry>
        <title>{{ post.data.title | annihilateTags(['sup', 'sub']) | striptags }}</title>
        <description>{{ post.data.description }}</description>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content xml:lang="{{ site.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        {% for tag in post.data.tags | exclude("posts") %}
          <category>{{tag}}</category>
        {% endfor %}
      </entry>
    {% endif %}
  {% endfor %}
</feed>