---
layout: layouts/default-full
categories:
 - 
    name: Programming
    about: Typey typey type. Writings on various programming topics I encounter.
 - 
    name: Music
    about: Compositions by yours truly.
 -
    name: Projects
    about: Adventurous undertakings!
 -
    name: CTFs
    about: Let's learn cybersecurity through a gamified experience!
---

{% include "home/hero.html" %}
{% include "home/about-me.html" %}
{% include "home/recents.html" %}
