---
layout: layouts/default-full
categories:
 - 
    name: Programming
    tag: programming
    about: Typey typey type. Writings on various programming topics I encounter.
    exclude: [programming]
 - 
    name: Music
    tag: composition
    about: Compositions by yours truly.
    exclude: [composition, music]
 -
    name: Projects
    tag: project
    about: Adventurous undertakings!
    exclude: [project]
 -
    name: CTFs
    tag: ctf
    about: Let's learn cybersecurity through a gamified experience!
    exclude: [ctf, writeup]
redirect_from: [/profile]
---

{% block head_assets_ext %}
<link rel="stylesheet" href="/css/shooting-stars.css"/>
{% endblock %}

{% include "home/hero.html" %}
{% include "home/about-me.html" %}
{% include "home/recents.html" %}
{% include "home/contact.html" %}
