---
layout: layouts/default-full
categories:
 - 
    name: Programming
    tag: programming
    about: Typey typey type. Writings on various programming topics I encounter.
 - 
    name: Music
    tag: composition
    about: Compositions by yours truly.
 -
    name: Projects
    tag: project
    about: Adventurous undertakings!
 -
    name: CTFs
    tag: ctf
    about: Let's learn cybersecurity through a gamified experience!
redirect_from: [/profile]
---

{% include "home/hero.html" %}
{% include "home/about-me.html" %}
{% include "home/recents.html" %}
{% include "home/contact.html" %}
