---
layout: layouts/page-default
---

<div class="col-lg-9">
    <div class="d-flex justify-content-center">
        <div id="track-list" class="container-fluid"></div>

        <div class="infinite-spinner"></div>
        <script src="/tracks.json"></script>
        <script src="/js/infinite-jekyll.js"></script>
        <script>
            $(async function () {
                InfiniteLoader({
                    data: '/tracks.json',
                    num: 5,
                    element: '#track-list',
                    html: (item, index) => {
                        const toHTMLTag = t => `<a class="post-tags tag" href="{{ site.baseurl }}/tags/${t}">${t}</a>`;

                        /* Exclude common tags and convert into html code. */
                        const tags = item
                            .tags
                            .map(toHTMLTag)
                            .join("\n");

                        /* No break on the first item. */
                        const brk = index
                            ? '<br/>'
                            : '';

                        return `
                        <div>
                            ${brk}
                            <iframe allow="autoplay" frameborder="no" height="166" scrolling="no"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/${item.track_id}&color=%23{{ site.soundcloud_color }}&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false"
                                width="100%"></iframe>
                            <div class="d-flex flex-row align-items-center">
                                <span class="post-date"><i class="fa fa-calendar post-meta-icon me-1"></i>${item.date}</span>
                                <span class="fs-6">&nbsp;•&nbsp;</span>
                                <span><i class="fa fa-tag post-meta-icon me-1"></i></span>
                                <div>
                                ${tags}
                                </div>
                            </div>
                            <div class="post-meta">
                                <a href="{{ site.baseurl }}${item.url}">Preface</a>:
                                <span>${item.description}</span> 
                                <a href="{{ site.baseurl }}${item.url}">(continue reading)</a>
                            </div>
                        </div>`;
                    }
                });
            });
        </script>
    </div>
</div>