---
layout: layouts/page-with-sidebar
---
<div class="card p-4">
    <h3>
        {% if logo %}
            <i class="fa fa-{{logo}} me-1"></i>
        {% endif %}
        {{title}}
    </h3>

    <br/>
    <div>
        {{ content | safe }}
    </div>
</div>