---
layout: layouts/page-default
logo: tag
---

{% from "post/preview.html" import render_preview %}

<div class="page-content-container d-flex row gx-6">
    <div class="col-lg-4">
        {% include "sidebars/related-tags-sidebar.html" %}
    </div>

    <div class="col-lg-8">
        {# Main Content #}
        {# Heading #}
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h3>
                {% if logo %}
                    <i class="fa fa-{{logo}} me-1"></i>
                {% endif %}
                {{title}}
            </h3>
            {% if feedtags | contains(page.fileSlug) %}
                <abbr data-placement="left" data-toggle="tooltip" title="An RSS feed is available for this tag!">
                    <a href="{{site.baseurl}}/feeds/{{page.fileSlug}}.xml">
                        <i class="fa fa-rss fs-4"></i>
                    </a>
                </abbr>
            {% endif %}
        </div>

        {{ content | safe }}

        <br/>

        {# Preview List #}
        <div class="post-preview-list">
            {% set slug = tag | default(title) | slugify %}
            {% for post in collections[slug] | reverse %}
                {{ render_preview(post, excludeTags=[slug]) }}
            {% endfor %}
        </div>
    </div>
</div>