---
layout: layouts/default-container
---


<div class="col-lg-12 mt-4">
    <div class="row justify-content-center g-4">
        {% include "sidebar-left.html" %}
        {{ content | safe }}
    </div>
</div>
