---
layout: layouts/page-simple
logo: tag
---

{% from "post/preview.html" import render_preview %}

{{ content | safe }}

<div class="post-preview-list">
    {% set slug = tag | default(title) | slugify %}
    {% for post in collections[slug] | reverse %}
        {{ render_preview(post) }}
    {% endfor %}
</div>