---
layout: layouts/default-container
---

<div class="col-lg-12 mt-4 ps-6 pe-1">
    {# <div class="row justify-content-center "> #}
        {# <div class="col-lg-3">
            {% include "sidebar-left.html" %}
        </div> #}
        {# <div class="col-lg-9">
            {{ content | safe }}
        </div> #}
    {# </div> #}
    {{ content | safe }}
</div>