---
layout: layouts/page-default
assets:
  js:
    - /js/post.js
---

{# This is a hack to get the right sidebar to be parsed and loaded first. We
could put the left sidebar, content, and right sidebar in the same div; but this
would lead to the right sidebar being loaded after a noticeable delay.

LMK if you know a better (less hacky) way of doing this.
#}

{% set hasToc = showToc and (content | tocFast) %}

<article class="w-100 post-article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row d-flex flex-row-reverse gx-6">
        <div class="col-lg-4 d-none d-lg-block">
            {% set post = collections.posts | getCollectionItem %}
            {% include "post/metadata.html" %}
            <br/>

            {% if hasToc %}
                {% include "sidebars/toc-sidebar.html" %}
            {% endif %}
        </div>

        <div class="col-lg-8">
            <div class="article-header">
                <h1 class="post-title" itemprop="name headline">{{ title | mdInline | safe }}</h1>
                {% if excerpt %}
                    <p class="post-desc" itemprop="alternativeHeadline">{{ excerpt | mdInline | safe }}</p>
                {% endif %}

                <div class="d-lg-none">
                    {% include "post/metadata.html" %}
                </div>
            </div>
            <hr/>

            {% include "post/article.html" %}
            <a id="end-of-article"></a>
            <br/>
            {% if sharable %}
                {% include "post/share.html" %}
            {% endif %}
            <hr/>
            {% include "author/social.html" %}
            {% if related %}
                {% include "post/related.html" %}
            {% endif %}
            {% if comments %}
                <hr class="section-sep"/>
                <div class="container mt-4 p-4">
                    {% include "post/comments.html" %}
                </div>
            {% endif %}
            <br/>
        </div>
    </div>
</article>