---
layout: layouts/page-with-sidebar
---
<div class="post-preview-list">
    {% for post in collections.posts %}
        {% include "post-preview.html" %}
    {% endfor %}
</div>

{# {% include "pagination-links.html" %} #}