---
layout: layouts/page-default
---
{% from "post/preview.html" import render_preview %}
<div class="post-preview-list">
    {% for post in collections.posts | reverse %}
        {{ render_preview(post) }}
    {% endfor %}
</div>

{# {% include "pagination-links.html" %} #}